@font-face {
	font-family: 'FontAwesome';
	src: url('{{ "#{fontawesome-webfont}.eot" | asset_url }}');
	src: url('{{ "#{fontawesome-webfont}.eot?#iefix" | asset_url }}') format('embedded-opentype'),
	url('{{ "#{fontawesome-webfont}.woff2" | asset_url }}') format('woff2'),
	 url(' {{ "#{fontawesome-webfont}.woff" | asset_url }}') format('woff'),
		url(' {{ "#{fontawesome-webfont}.ttf" | asset_url }}') format('truetype'),
		url(' {{ "#{fontawesome-webfont}.svg#fontawesomeregular" | asset_url }}') format('svg');
	font-weight: normal;
	font-style: normal;
}
