/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #eee;
	z-index: 13;
	opacity:0;
	visibility: hidden;
	transition:opacity 0.5s, visibility 0s 0.5s;
}

/* Overlay closing cross */
.overlay-close {
	width: 20px;
	height: 20px;
	position: fixed;
	right: 7.5%;
	top: 35px;
	overflow: hidden;
	border: none;
	background: url('{{ "#{cross}.png" | asset_url }}') no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: left;
	position: relative;
	top: 50%;
	height: 73%;
	transform:translateY(-50%);
	@media #{$mobile} {
		height:65%
	}
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding:0;
	text-align: center;
	height: 16.6666666667%;
	height: calc(100% / 7);
	min-height: 36px;
}
.overlay ul li a {
	font-size: 1.6em;
	padding:8px 0;
	font-weight: 300;
	display: block;
	color: #404040;
	transition:color 0.2s ease;
	h1 {
		font-family: "brandon-grotesque",sans-serif;
		letter-spacing: 0.04em;
		font-size: 1.6em;
		@media #{$mobile} {
			font-size: 1.2em;
		}

	}
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #59616a;
}


.overlay ul.main li:first-child {
	margin-top: -40px;
	margin-bottom: 50px;
}

/* Effects */
.overlay.open {
	opacity:1;
	visibility: visible;
	transition:opacity 0.5s
}

.overlay nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay nav ul {
	opacity:0.4;
	transform:translateY(-25%) rotateX(35deg);
	transition:transform 0.5s, opacity 0.5s;
}

.overlay.open nav ul {
	opacity:1;
	transform:rotateX(0deg);
}

.overlay.close nav ul {
	transform:translateY(25%) rotateX(-35deg);
}
