/*============================================================================
	Social Icon Buttons v1.0
	Author:
		Carson Shold | @cshold
		http://www.carsonshold.com
	MIT License
==============================================================================*/
@mixin transition($transition:0.1s all) {
	-webkit-transition: #{$transition};
	-moz-transition: #{$transition};
	-o-transition: #{$transition};
	transition: #{$transition};
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.4em;
	color: $primary !important;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before { content: "\f099"; }
.icon-facebook:before { content: "\f09a"; }
.icon-pinterest:before { content: "\f0d2"; }


/*================ Social share buttons ================*/
$shareButtonHeight: 26px;
$shareButtonmobile: 18px;

.social-sharing {
	float: left;
	@media #{$tablet} {
		float: right;
		clear: both;
		margin-bottom: 20px
	}
	@media #{$mobile} {
		float: right;
		clear: both;
		margin-bottom: 20px
	}
	* {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	a {
		display: inline-block;
		color: #fff;
		margin:0 3px;
		height: $shareButtonHeight;
		line-height: $shareButtonHeight;
		text-decoration: none;
		font-weight: normal;
		text-rendering: auto;
		&:hover {
			opacity: 0.7
		}
	}

	span {
		display: inline-block;
		vertical-align: top;
		height: $shareButtonHeight;
		line-height: $shareButtonHeight;
		font-size: 22px;
	}

	.icon {
		padding: 1px 2px;

		&:before {
			line-height: $shareButtonHeight;
		}

	}
}

span.share-title {
	display: none!important;
}
