/* Colors */
/* ----------------------------------------- */
  $primary : #396071;
  $accent_color : #396071;
  $accent_hover : #ab9b8b;
/* ----------------------------------------- Colors */

/* Effects */
/* ----------------------------------------- */
  $box-shadow : 0px 2px 15px 0px rgba(175,175,175,0.25);
/* ----------------------------------------- Effects */
