@import "variables";
@import "bourbon";
@import 'font';
@import "normalize";
@import "skeleton";
@import 'flexslider';
@import 'fancybox';
@import 'overlay';
@import "social-buttons";

/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Menu
	#Images
	#Videos
	#Buttons
	#Tabs
	#Forms
	#Tables
	#Misc
	#Site Styles
	#FlexSlider
	#FancyBox */

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

	* {
			margin: 0;
	}

	html, body {
			height: 100%;
	}

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */

body {
	font-family: "brandon-grotesque",sans-serif;
	background-color:#eee;
	font-weight: 300;
	font-size: 12px;

	line-height: 1.4;
	-webkit-font-smoothing: antialiased
}

#loading{
	text-align: center;
	position: relative;
	width: 100px;
	height: 50px;
	margin: 15% auto;
}

#loading img{
	opacity: .40;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 9999;
}

::-moz-selection {
			 background-color: #000;
			 color: #fff;
}

::selection {
			 background-color: #000;
			 color: #fff;
}

abbr {
	border-bottom: 1px dotted #999;
}

/* #Typography
================================================== */


	h1, h2, h3, h4, h5, h6, .title a {
		font-family: "brandon-grotesque",sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		color: #999;
		display:block;
		letter-spacing: 0.02em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .title a {
		font-weight: 300;
		color:#000
	}

	h1 a, h1 a:visited, .title a, .title a:visited { color: #999 }
	h1 a:hover, h1 a:active, .title a:hover, .title a:active {
		color: $primary;
	}

	h1, .h1, {
		font-size: 30px;
		border-top: none;
		padding: 15px 0 15px 0;
		clear:both;
		color:#000;}

	h1.collection-title {
		text-transform:none;
		font-weight: 500;
		font-family: "brandon-grotesque",sans-serif;
		font-size: 2.5em;
		line-height: 1;
		&.exhibitions {
			text-align: center;
			.bio {
				span {
					text-align: center;
				}
			}
		}
		@media #{$mobile} {
			font-size: 2em;
			padding-bottom:5px
		}
	}

	.product_name {
		// font-size:1.3em;
		font-size: 15.6px;
		display: block;
		margin-top: 20px;

		text-align:right;
		font-family: "brandon-grotesque",sans-serif;
		text-transform: uppercase;
		color: #999;
		position: relative;
		padding: 1em 0 0 0;
		&:before {
			height: 4px;
			display: block;
			width: 30px;
			background: #999;
			content: '';
			position: absolute;
			top: 0;
			right:0;
		}
	}

	.product_name.search{
		text-align: left
	}

	.product_vendor {
		margin-bottom:0;
		font-size:1.8em;
		text-align:right;
		font-weight: 500;
		font-family: "brandon-grotesque",sans-serif;
		text-transform: none;
		padding:20px 0 0 ;
	}

	h1.title, .section-title {
		text-align: left;
		margin:0;
		font-family: "brandon-grotesque",sans-serif;
		font-size: 2.2em;
		font-weight: 500;
		padding-bottom: 2em;
		&:after {
			height: 3px;
			display: block;
			width: 30px;
			background: #000;
			content: '';
			margin-top: 30px;
			text-align: left;
		}
		@media #{$mobile} {
			font-size: 2em;
		}
	}

	h2 {
		font-size: 24px;
		line-height: 1.4;
		text-align: left;
		padding: 20px 0;
		font-weight: 500;
		font-family: "brandon-grotesque",sans-serif;
		color:#000;
		&.related {
			border-bottom: none;
			padding:1em 0 2em;
			&:after {
				height: 4px;
				display: block;
				width: 30px;
				background: #000;
				content: '';
				margin-top: 25px;
				text-align: left;
			}
		}
	}

	h3, .h3, h1.blog_title {
		font-size: 18px;
		line-height: 36px;
		margin: 0 auto 15px 0;
		font-weight: 300;
		text-align: left;
		border-bottom: 1px solid #ddd;
		padding: 0 0 20px 0;
	}

	h4, .h4, h4.title a {
		font-size: 16px;
		line-height: 35px;
		margin: 0 0 15px 0;
		font-weight: 300;
		text-align: left;
		padding: 0;
		text-transform: none;
		 border-bottom: 1px solid #ddd;
		 padding-bottom:12px;
		 letter-spacing: 0.04em;
	}

	h4.title a {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
		h5, .h5 {
			font-size: 22px;
			padding-bottom: 5px;
		}
		h6, .h6 {
			font-size: 20px;
			padding-bottom: 15px;
		}
	.subheader {
		color: #999;
	}

	.modal h3 {
		padding: 12px 0;
	}
	h6.social {
		padding-bottom: 10px
	}

	p {
		margin: 0 0 10px;
		font-style: normal;
		letter-spacing:0.02em;
		font-family: "brandon-grotesque",sans-serif;
		font-size: 1.3em;
	}
	p img { margin: 0; }

	em, i {
		font-style: italic;
	}
	strong, b {
		font-weight: 700;
	}
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p {
		font-size: 17px;
		line-height: 24px;
		color: #777;
		font-style: italic;
	}
	blockquote {
		margin: 0 0 20px;
		padding: 9px 20px 0 19px;
		border-left: 1px solid #ddd;
	}
	blockquote cite {
		display: block;
		font-size: 12px;
		color: #555; }
	blockquote cite:before {
		content: "\2014 \0020";
	}
	blockquote cite a,
	blockquote cite a:visited,
	blockquote cite a:visited {
		color: #555;
	}

	hr {
		border: solid #ddd;
		border-width: 1px 0 0;
		clear: both;
		margin: 10px 0 15px;
		height: 0;
	}

	.quote {
		 font-size: 18px;
		 line-height: 32px;
		 text-align: left;
		 margin: 0 0 20px 0;
		 font-style: italic;
	}

/* #Links
================================================== */
	a, a:visited {
		font-weight:300;
		color: #999;
		text-decoration: none;
		outline: 0;
		transition:color 0.3s ease-out;
	}
	a:hover, a:focus { color: #000; }

/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

ul {
		line-height: 26px;
}
ul li {
		list-style: none outside none;
		padding: 12px 0;
		margin-bottom: 0;
}

ul li.artists {
	display:inline-block;
	padding:10px 10px
}

#admin-bar-iframe {
	display:none
}
/* #Menu
================================================== */

.top_bar {
	background-color: #eee;
	text-align: center;
	line-height: 1;
	height: 80px;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-shadow: $box-shadow;
	@media #{$mobile} {
		padding: 10px 0 4px;
	}
}

.overlay {
	#logo {
	display: none;
	margin:0 auto;
	max-width: 85%;
		@media #{$mobile} {
			display: block;
		}
		@media #{$tablet} {
			display: block;
			max-height: 100px;
		}
	}
}

.top_bar {
	#nav{
		opacity: 1;
		transition:opacity 0.5s ease-out;
		float: right;
		height:80px;
		.main {
			float:left;
			margin-right:20px;
			@media #{$mobile} {
				display: none;
			}
			@media #{$tablet} {
				display: none;
			}
			> ul {
				> li {
					margin-right: 25px;
				}
			}
			ul {
				list-style: none;
				display: block;
				float: right;
				margin:20px 0;
				position: relative;
				li {
					display: inline-block;					
					a {
						font-size: 1.5em;
						letter-spacing: 0.08em;
						text-transform: uppercase;
						&.active {
							color:#404040;
							font-weight: 500;
						}												
					}

					&:hover {
						> ul.nav-drop {
							display: flex;
							flex-direction: column;
							text-align: left;
						}
					}

				}
				&.nav-drop {
					display: none;
					position: absolute;
					background-color: #eee;
					margin: 0;
					top: 100%;
					box-shadow: $box-shadow;
					padding: 20px 0;
					margin-left: -20px;

					li {
						a {
							padding: 0 45px 0 20px;
							display: block;;
						}
					}
				}
			}
		}
	}
	#logo{
		width:330px;
		opacity: 1;
		float:left;
		margin-left: -20px;
		@media #{$mobile} {
			display: none;
		}
		g#frame {
		  display: none;
		}
	}
	#logo-icon {
		width:124px;
		height:auto;
		transition:opacity 0.5s ease-out;
		display: none;
		float:left;
		@media #{$mobile} {
			display: block;
			opacity: 1;
		}
	}
}

.trigger-overlay {
	position:relative;
	float:right;
	z-index: 1;
	width: 30px;
	height: 40px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top:15px;
	margin-left: 15px;
	cursor: pointer;
	display: none;
	transition:all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	@media #{$mobile} {
		display: block;
	}
	@media #{$tablet} {
		display: block;
		margin-top: 20px;
	}
}
.trigger-overlay i{
	display:block;
	width: 30px;
	height: 3px;
	margin: 18px 0;
	background: #232323;
	transition:all 0.3s ease-out;
}

.trigger-overlay i:before,
.trigger-overlay i:after {
	content: '';
	display: block;
	width: 30px;
	height: 3px;
	background: #232323;
	position: absolute;
	z-index: -1;
	transition:all 0.3s ease-out;
}

.trigger-overlay i:before{
	top: 10px;
}

.trigger-overlay i:after{
	top: 26px;
}

.search-bar {
	cursor: pointer;
	position: relative;
	display: block;
	float: right;
	width:24px;
	height: 24px;
	margin:27px 0;
	z-index:1;
	@media #{$mobile} {
		margin-top: 21px;
	}
	.menu-search{
		display: block;
		&:hover{
			color:#59616a!important
		}
	}
}
.search-404 {
	margin:20px 0;
	width:50%;
	input {
		text-align: left!important;
		color:#404040!important;
		border-color:#404040!important;
		font-size: 1.2em!important
	}
}
#form-iframe{
	display:none;
	width: 100%;
	max-width: 700px;
	position: relative;
	.search-form {
		margin-bottom:0;
		position: relative;
		width: 100%;
		height: 100%;
	}
	input.search_box {
		width:100%;
		height: 100%;
		border:none;
		color: #999;
		font-size: 24px;
		padding: 20px 0 20px;
		margin:0;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		text-align: center;
		font-weight:300;
		background: transparent;		
	}
}


.nav-home {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:0;
	.inner {
		position: relative;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		max-width: 81rem;
		padding:0 20px;
		box-sizing: border-box;
		.links {
			display: block;
			width: 100%;
			position: absolute;
			text-align: left;
			height:36px;
			top:57%;
			z-index:1;
			@media #{$mobile} {
				top:60%;
			}
			a {
				text-align:center;
				font-size: 1.5em;
				padding-bottom: 12px;
				border-bottom: 2px solid;
				font-family: "ff-tisa-web-pro",serif;
				display: inline-block;
				font-weight: 400;
				letter-spacing: 0;
				@media #{$mobile} {
					font-size: 1.2em;
				}
			}
		}
		.news {
			display: block;
			width: 100%;
			position: absolute;
			text-align: left;
			top:75%;
			z-index:1;
			@media #{$mobile} {
				top:55%;
			}
			b {
				font-size:1.2em;
				margin-bottom:1em;
				font-family: 'brandon-grotesque',sans-serif;
			}
		}
	}
}
#caption.white,
.links.white a,
.news.white,
.news.white a {
	border-color: #fff;
	color:#fff!important;
}
#caption.accent,
.links.accent a,
.news.accent,
.news.accent a {
	border-color:$primary;
	color:$primary!important;
}
#caption.dark,
.links.dark a,
.news.dark,
.news.dark a {
	color:#404040!important;
}

.links a:hover, .news a:hover {
	border-color:$primary!important;
	color:$primary!important;
}

.container-bottom {
	display: block;
	margin-top: -43px;
	@media #{$mobile} {
		margin-top: -32px;
	}
}
a.smoothy{
	display: block;
	width:50%;
	float:left;
	&.scroll-down {
		.text-message {
			display: none;
			margin-top: -28px;
    	padding-left: 32px;
    	text-transform: uppercase;
    	font-size: 0.8em;
		}
	}
	#arrow-down {
		max-width:36px;
		fill:#999;
	}
	&:hover {
		color:#000;
		#arrow-down {
			fill:#000;
		}
	}
}
.control-nav {
	display: block;
	width:50%;
	float:left;
	text-align: right;
	li {
		margin: 0 7px;
    display: inline-block;
    zoom: 1;
		a {
    width: 7px;
    height: 7px;
    display: block;
    background-color: #9b9b9b;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
			&.flex-active {
				background-color: #000;
			}
		}
	}
}


/* #HOME PAGE
================================================== */
#home-feature {
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: -1;
	position:fixed;
	top:90px;
}
#home-feature .flexslider {
	display: block;
	position: relative;
	height: 100%!important;
	overflow: hidden!important;
	width: 100%!important;
	margin-bottom: 0
}
#home-feature .flexslider .flex-viewport {
	height:100%;
}
#home-feature .flexslider .slides,
#home-feature .flexslider .slides li{
	height: 100%!important;
}
#home-feature .flexslider .slides > li {
	padding:0;
}

#home-feature .flexslider .hover {
	width: 100%;
	height: 100%;
	position:absolute;
	transition:all .35s linear 0.3s;
	&.dark {
		background:linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 16.67%, rgba(0,0,0,0.2) 33%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
	}
	&.clear {
		background:transparent
	}
}

#home-feature .flexslider .bigbg{
	width: 100%;
	height: 100%;
	background: 50% 50% no-repeat;
	background-size: cover;
}

#home-feature #caption {
	width:100%;
	position: absolute;
	top: 33%;
	display: block;
	text-align: left;
	transition:color 0.3s ease-out;
	@media #{$mobile} {
		top: 33%;
	}
}
#caption a {
	visibility:hidden;
}
#caption p {
	line-height: 1.2;
	font-family: "ff-tisa-web-pro",serif;
	font-weight: 400;
	letter-spacing: 0;
	font-size:1.3em;
}
#caption p.title{
	font-family: "brandon-grotesque",sans-serif;
	line-height: 1.2;
	font-size: 3.2em;
	font-weight: 700;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	@media #{$mobile} {
		font-size:2.35em
	}
}
#caption p.legende {
	line-height: 1;
	font-size: 2.2em;
	font-style: italic;
	font-weight: 500;
	margin: .5em 0 1.5em 0;
	@media #{$mobile} {
		font-size:1.2em
	}
}

.header {
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 0;
	height: 80px;
	padding-top: 42px;
	@media #{$mobile} {
		padding-top: 28px;
	}
}

p.tagline {
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
		font-weight: 700;
		letter-spacing: 0.05em;
		line-height: 1.1;
		padding: 2em 0;
		text-transform: uppercase;
}
.header.white p.tagline {
	color:#fff;
}
.header.accent p.tagline {
	color:$primary;
}
.header.dark p.tagline {
	color:#404040;
}

a.bio {
	display: block;;
	position: inherit;
	text-align: left;
	padding-bottom: 2em;
	span{
		font-family: "ff-tisa-web-pro",serif;
		font-weight: 400;
		letter-spacing: 0;
		font-style: italic;
		text-transform: none;
		display: block;
		margin-bottom: -20px;
		font-size:0.65em
	}
}

/* #Images
================================================== */
/*
	The purpose of the below declaration is to make sure images don't
	exceed the width of columns they are put into when resizing window.
	Unfortunately, this declaration breaks certain lightbox, slider or other plugins,
	so the best solution is to individually call these properties on images that
	are children of the grid that you want to resize with grid.
*/

	.product_images img{
		max-height: 600px;
		margin:0 auto 25px;
	}
	.thumbnail a{
		img {
			max-width: 100%;
			display: block;
		}
		&:hover img{
			opacity:0.7;
		}
	}
	img.collection-image{
		max-height: 600px;
		margin:0 auto 0 0;
		@media #{$mobile} {
			margin-bottom: 20px
		}
	}
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}

	.exhibitions {
		.thumbnail {
			height:460px;
			position: relative;
			@media #{$tablet} {
				height:340px
			}
			@media #{$mobile} {
				height:auto;
			}
			img {
				max-height:395px;
				@media #{$mobile} {
					width:100%;
					max-height: none;
				}
			}
		}
	}

/* #Videos
================================================== */
/*
	For YouTube and Vimeo videos, wrap the embedded code snippet
	in a <div class="video-container"> tag to allow it to resize.
	To restrict the width, wrap with an additional <div class="video-wrapper">
*/

	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.video-wrapper {
		width: 600px;
		max-width: 100%;
	}

/* #Buttons
================================================== */

	a.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		border: none;
		padding: 0;
		color: #fff;
		display: inline-block;
		font-size: 11px;
		text-decoration: none;
		cursor: pointer;
		font-family: "brandon-grotesque",sans-serif;
		background:transparent;
		vertical-align:bottom;
}

button.remove{font-size:26px; color:#000}
	a.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #fff;
		 border: none;
	 }

	a.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	.btn {
		font-family: "brandon-grotesque",sans-serif;
		border: 1px solid gray;
		color: gray;
		font-size: 14px;
		padding: 12px 16px;		
	}

/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: #fff;
		border-style: none none solid;
		border-width: 0 0 1px;
		color: #fff;
		outline: medium none;
		padding: 0 35px 0;
		position: relative;
		vertical-align: middle;
		padding: 2px 4px;
		font: 12px "brandon-grotesque",sans-serif;
		margin: 0;
		width: 100%;
		height:40px;
		max-width: 100%;
		display: inline-block;
		background: transparent;
		-webkit-appearance: none;}

	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color:#fff;
		border-style: none none solid;
		border-width: 0 0 1px;
		 color: #fff;
			}
	label,
	legend {
		display: block;
		font-weight: normal;
		font-size: 13px;
		margin-bottom:10px; }
	select {
		width:100%;
		text-align:left;
		}

	.select{
		text-align:right;
			}
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #999;}

	textarea#note {
		width: 100%
	}


/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.right { float:right; }
	.left { float: left; }
	.center { text-align: center; }
	.relative { position: relative; }
	.align_right { text-align:right }
	.align_left { text-align: left; }
	div.mobile_only { display:none; }
	.no_border { border: none !important; }
	.extra_padding { padding-top: 4px; }
	div.hidden { display: none; }

/* #Site Styles
================================================== */
	div.content {
		padding-top:135px;
		padding-bottom: 90px;
		@media #{$mobile} {
			padding-top: 110px
		}
	}

	.press{
	 text-align: center;
	 padding:15px 0 30px;
	}

	.press p img {
		padding:20px 40px 20px 0;
		display: block;
		float: left!important;
	}
	.press .hidden {
		display: none
	}
	.inner-page {
		h2 {
			text-align: left;
			border:none
		}
		h3 {
			text-align: left
		}
	}

	div#bio {
		padding-top:110px;
		border-top:1px solid #ddd;
		font-size: 16px;
		letter-spacing: 0.02em;
		line-height: 22px;
	}
	div#bio p{
		font-size: 16px;
		letter-spacing: 0.02em;
		line-height: 22px;
		padding-right: 6em;
		@media #{$tablet} {
			padding-right: 0em;
		}
		@media #{$mobile} {
			padding-right: 0em;
		}
	}
	div#bio a {
			font-size: 1.2em;
			color:#232323;
			text-transform: uppercase;
	}
	.presstitle{
		margin:15px 0;
	}
	p.background {
		 font: 19px/30px;
		 font-weight: 300;
		 text-align: center;
		 margin: 30px 0;
	}

	.title a {
		clear:none;
	}
	.title p a {
		clear:none;
	}

	.paginate {
		text-align:center;
	}

	.paginate span {
		padding: 0 10px;
		font-size: 1.2em
	}

	.thumbnail {
		position: relative;
		text-align:center;
		margin-bottom: 15px;
	}

	.thumbnail .info {
		text-align: left;
		margin: 10px 0;
		letter-spacing:0;
		min-height: 40px;
		letter-spacing: 0.04em;
		&.collection {
			text-align: center;
			text-transform: uppercase;
			color:#000;
			font-size: 1.2em;
			padding-top:5px;
			letter-spacing: 0.04em;
		}
	}

	.thumbnail .vendor {
		float:right;
		font-family: "brandon-grotesque";
		text-transform:uppercase;
		letter-spacing: 0;
		a, span {
			color:#000;
			font-weight: 500;			
		}

		a {
			&:hover {
				color:grey
			}
		}
	}

	.description {
		margin:20px 0 50px 0;
		text-align:right;
	}
	.description p,
	.description span{
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.1pt
	}

/* #Collection listing
================================================== */
.collection-list {
	-webkit-column-count:4;
	 -webkit-column-gap:0px;
	 -moz-column-count:4;
	 -moz-column-gap:0px;
	 column-count:4;
	 column-gap:0px;
	 list-style: none;
		padding: 0;
		display: block;
		height: 100%;
		@media #{$mobile} {
			-webkit-column-count:2;
			 -webkit-column-gap:0px;
			 -moz-column-count:2;
			 -moz-column-gap:0px;
			 column-count:2;
		}
	 li {
			display: block;
			padding: 0;
			margin:0;
			line-height: 18px;
		 a {
				font-size: 1.6em;
				padding: 8px 0;
				font-weight: 300;
				display: block;
				color: #404040;
				transition:color 0.2s;
		 }
	 }
}

ul.advanced-filters {
	padding:0 0 2em;
	li{
		display: inline-block;
		padding:0 1.5em 0 0;
		line-height: 1.5;
		@media #{$mobile} {
			font-size:1em;
			padding:0 .7em 0 0;
		}
		a {
			font-family: "ff-tisa-web-pro",serif;
			font-weight: 400;
			font-style: italic;
			letter-spacing: 0;
			text-transform: capitalize;
			font-size:1.5em;
			@media #{$mobile} {
				font-size:1.3em;
			}
		}
		&.active-filter {
			a {
				color:#000;
				border-bottom: 3px solid #000;
			}
		}
		&.all {
			a {
				color:#000;
				border-bottom: 3px solid #000;
			}
		}
	}
}

.artists-list {
	width: 50%;
	float:left;

	@media #{$mobile} {
		width: 100%;
		min-height: 0;
	}

	ul {
		column-count:2;
		column-gap:0px;
		list-style: none;
		padding: 0;
		display: block;
		height: 100%;

		li {
			display: block;
			padding: 0;
			margin:0;
			line-height: 18px;
			a {
					font-size: 1.6em;
					padding: 8px 0;
					font-weight: 300;
					display: block;
					color: #404040;
					transition:color 0.2s;
					display: inline-block;
			}
			&.active a {
				color: black;
			}
		}
	}
}

.artists-thumb {
	width: 50%;
	float: left;
	box-sizing: border-box;

	@media #{$mobile} {
		display: none
	}
	
	@media #{$desktop} {
		height: calc(100vh - 200px);
		box-sizing: border-box;
	}

	img {   
		object-fit: contain;
		object-position: left top;
    width: 100%;
    height: 100%;
	}
	
}

/* #Footer
================================================== */
section#featured {
	position: relative;
	background: #eee;
	z-index:10;
	padding: 42px 0;
	@media #{$mobile} {
		padding-top: 30px;
	}
	.featured-content {
		padding-top: 42px;
		padding-bottom:84px;
	}
	.featured-columns {
		// border-bottom: 1px solid #ddd;
		padding-bottom:42px;
		img{
			&:hover {
				opacity: 0.8
			}
		}
		h3 {
			padding-bottom:0;
			color:#000;
			border:none;
			margin:0;
			font-weight: 300;
			letter-spacing: 0.1em
		}
		p {
			text-align: left;
			color:#999;
		}
	}
}

#wrapper {
	margin-bottom: -270px;
	min-height: 100%;
	@media #{$mobile} {
		margin-bottom: 0;
	}
}
#wrapper:after{
	height:270px;
	content: "";
	display: block;
	@media #{$mobile} {
		height: auto;
	}
}

.loader {
	background-image: url('{{ "#{loading}.gif" | asset_url }}');
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 99;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
}

.footer-wrap {
	padding-top: 60px;
	font-size: 16px;
	background: $primary;
	color: #fff;
	z-index: 10;
	padding-bottom: 60px;
	width: 100%;
	position: relative;
	@media #{$mobile} {
		height: auto;
		text-align: center;
		padding-bottom:40px
	}
	a {
	 color: #fff;
		 &:hover {
			 color: #9BA2A8;
		 }
	 }
	 ul {
		 margin:0;
		li {
			padding: 0;
			line-height: 18px;
		}
	 }
	 h3{
		 border-bottom: 0;
		 padding:0;
		 color: #fff;
		 font-weight: 300;
		 letter-spacing: 0.04em;
		 font-family: "brandon-grotesque",sans-serif;
		 font-size: 18px;
		 margin-bottom:6px;
		 @media #{$mobile} {
			 text-align: center;
		 }
	 }
	.container{
		&:first-child {
			.columns {
				@media #{$mobile} {
					padding-bottom: 20px;
					margin-bottom: 20px;
					border-bottom: 1px solid white
				}
			}
		}
	}
	.bottom {
		ul {
			margin:35px 0 0 0;
			li {
				padding:0 10px 0 0;
				display: inline-block;
				border:none;
				letter-spacing:0;
				color:#A6ADB5
			}
		}
		a {
		color: #9BA2A8;
			&:hover {
				color: #fff;
			}
		}
	}
}

.footer-wrap .last,
.last h3 {
	text-align: right;
	@media #{$mobile} {
		text-align: center;
	}
}

form#subscribe {
	margin: 25px 0 0 0;
}
form#subscribe input[type="email"]{
	color:#fff;
	width: 69%;
	font-size: 1em;
	margin-bottom: 0;
	height:20px;
}
form#subscribe input[type="submit"]{
	font-size: 1em;
	color:#fff;
	text-transform: capitalize;
	letter-spacing: 0;
	text-align: left;
	width: 30%;
	-webkit-appearance:none;
	margin-bottom: 0;
	@media #{$tablet} {
		width: 10%;
	}
	@media #{$mobile} {
		width: 100%;
		text-align: center
	}
}


.social_link:hover {
	transition:opacity 0.3s ease-out;
	opacity: 0.75;
	filter:alpha(opacity=75);
 }

	/* #ENQUIRIES FORM
	================================================== */
#enquiries{
	width:100%;
	position: relative;
	@include clearfix();
}

#displayText{
		float:right;
		text-align:right;
		font-size:16px;
		padding: 4px 0 4px 12px;
		color:$accent_color;
		border: 2px solid;
		border-color: $primary;
		text-transform: uppercase;
		cursor: pointer;
		transition:color 0.3s ease-out;
		@media #{$tablet} {
			clear: both;
		}
		@media #{$mobile} {
			clear: both;
		}
}
#displayText:hover{
	background-color: $accent_color;
	color: $accent_hover;
}
i.toggle{
	padding:0 8px;
	cursor: pointer;
	display: block;
		font: normal normal normal 14px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-size: 1em;
	color:$accent_hover;
	float:right;
}
i.toggle:before {
	content:"\f078";
}

.form form {
	margin-bottom: 5px
}
.form{
	float:right;
	text-align:right;
	letter-spacing:0.02em;
	width: 100%;
}
.form ul{
	line-height:18px;
	margin-bottom: 0
}
.form ul li {
	padding:5px 0
}

#input_8 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0px 12px;
	border: 2px solid ;
	float: right;
	clear: both;
	color:$primary;
	border-color:$primary;
}

#input_8:hover {
	background-color:$primary;
	color: $primary
}
.jotform-form input[type="text"],
.jotform-form input[type="number"],
.jotform-form input[type="password"],
.jotform-form input[type="email"]{
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ddd;
	border-style: none none solid;
	border-width: 0 0 1px;
	color: #999999;
	outline: medium none;
	position: relative;
	vertical-align: middle;
	padding: 0;
	font: 14px "brandon-grotesque",sans-serif;
	margin: 0;
	width:100%;
	display: inline-block;
	margin-bottom: 10px;
	background: transparent;
}

.jotform-form textarea	{
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ddd;
	border-style: none none solid;
	border-width:0 0 1px;
	color: #999999;
	outline: medium none;
	position: relative;
	vertical-align: middle;
	padding: 1px 2px;
	font: 14px "brandon-grotesque",sans-serif;
	margin: 0;
	max-width: 100%;
	display: inline-block;
	margin-bottom: 5px;
	background: transparent;
	height:36px;
	width:100%;
}

.jotform-form label,
.jotform-form legend {
	font: 14px "brandon-grotesque",sans-serif;
	display: inline-block;
	font-weight: normal;
	margin:0;
	padding:0;
}


.jotform-form label span{
	font-weight: normal;
	font-size: 14px;
	color: #999;
}


.jotform-form a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	border: none;
	margin-bottom: 10px;
	padding: 5px 0;
	color: #999;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	line-height: 18px;
	font: 12px "brandon-grotesque",sans-serif;
	background:transparent;
	vertical-align:middle;
}

.jotform-form a.button:hover,
.jotform-form input[type="submit"]:hover,
.jotform-form input[type="reset"]:hover,
.jotform-form input[type="button"]:hover {
	background-color: $primary;
	color: $primary
}
.meta {
	border-top: 1px solid #ddd;
	padding-top: 6px;
	width: 100%;
	font-size: 11px;
	text-align: right;
	margin: 15px 0 30px;
	p {
		font-size: 1.2em;
		margin-bottom: 10px;
		text-transform: uppercase;
		color: #404040;
		letter-spacing: 0.02em;
		padding-top: 15px
	}
	span{
		text-transform: capitalize!important;
		font-size: 1em;
	}
}



h1 a:hover, h1 a:active, .title a:hover, .title a:active {
	color:#59616a!important;
}

.loader {
	background-image: url('../../static/loading.gif');
}

#nav{
	.main {
		li {
			&.active a{
				color:#404040;
				font-weight: 500;
			}
		}
	}
}
.overlay-close {
	background: url('../../static/cross.png') no-repeat center center;
}
.overlay {
	h1 {
		font-weight: 300;
    text-transform: uppercase;
	}
}
.one-third, .four {
	&:first-of-type {
		margin-left: 0!important;
		clear: left;
	}
	&:nth-child(3n+1) {
		margin-left: 0!important;
		clear: left;
	}
}
.three {
	&:first-of-type {
		margin-left: 0!important;
		clear: left;
	}
	&:nth-child(4n+1) {
		margin-left: 0!important;
		clear: left;
	}
}
.info-expo {
	h2 {
		padding-bottom: 0;
		padding-top: 12px!important;
	}
	h4 {
		span {
    	text-transform: uppercase;
		}
	}
}

//Archives
figure {
	&.lg-featured-img {
		img {
			width:100%;
		}
	}
}
.post-type-archive-press .thumbnail {
	border-bottom: 1px solid #fff;
}
.pagination-block {
	padding-top:24px;
	ul {
		padding:0;
		text-align: center;
		li {
			display: inline-block;
			border:1px solid #fff;
			padding: 12px 18px;
			a {
				text-transform: uppercase;
				font-size: 1rem;
				color:#000;
			}
			&:hover {
				background: #fff;
			}
		}
	}
}

//Single
.exhibition {
	.title {
		padding-bottom: 1em;
	}
	h2 {
		font-size:1.5em;
		padding-top:0;
		color:#999;
	}
	p {
		font-size:1.5em;
	}
	.exhibition-img {
		padding: 30px 0;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		margin: 30px 0;
	}
}

#SliderContainer {
	height: 450px;
	width:100%;
	opacity: 0;
	overflow-x: auto;
	overflow-y: hidden;
	z-index:0;
	@media #{$mobile} {
		overflow-x: hidden;
		overflow-y: auto;
		height: auto;
	}
	// @media #{$tablet} {
	// 	overflow-x: hidden;
	// 	overflow-y: auto;
	// 	height: auto;
	// }
	.slider {
		display: flex;
		position: relative;
		margin: 0 auto;
		height:100%;
		overflow-x: scroll;
		cursor: grab;
		padding-bottom: 30px;
		
		@media #{$mobile} {
			width:100%!important;
			padding-top:0;
			flex-direction: column;
		}
		// @media #{$tablet} {
		// 	width:100%!important;
		// 	padding-top:0
		// }
		.slide {
			flex-shrink: 0;
			margin-left: 10px;
			height: 100%;
			position: relative;
			cursor: pointer;
			&:first-child {
				margin-left: 0;
				@media #{$mobile} {
					margin-left: 0;
				}
				// @media #{$tablet} {
				// 	margin-left: 0px;
				// }
			}
			@media #{$mobile} {
				margin:15px!important;
				height: auto!important;
			}
			// @media #{$tablet} {
			// 	margin:16px 0!important;
			// 	height: auto!important;
			// 	width:100%!important;
			// 	padding:0 32px!important
			// }
			&:hover > img {
				opacity: 0.8!important;
			}
			img {
				display: block;
				padding: 0;
				margin: 0;
				float: left;
				height: 100%;
				z-index: 0;
				position: relative;
				@media #{$mobile} {
					width: 100%!important;
					height: auto!important
				}
				// @media #{$tablet} {
				// 	width: 100%!important;
				// 	height: auto!important
				// }
			}
		}
	}
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ccc;
}
// Teaser
.press {
	.thumbnail {
		border-bottom: 1px solid white;
		margin-bottom: 12px;
	}
	figure {
		display: block;
    float: left;
    width: 34%;
    border-right: 2px solid #fff;
    margin-right: 4%;
    padding-right: 4%;
	}
	.info-press {
		width: 57%;
		float:left;
		h3 {
			margin-top: 5px;
			font-size: 1.1em;
			line-height: 1.2;
			border-bottom: none;
			padding-bottom: 0px;
			margin-bottom: 5px;
			color: #404040;
			@media #{$tablet} {
				font-size: 0.9em
			}
		}
		p {
			color: #999;
			margin-bottom: 0;
			line-height: 1.1;
			text-align: left;
			font-size: 1em;
			p.link {
				a {
					color: #404040!important
				}
			}
		}
	}
}




/* WordPress WYSIWYG Editor Styles */
/* ----------------------------------------- */
.hentry {   
	img {
		max-width: 100%;
		height: auto;
	}
	a { 
		color: theme-color("primary");
		&:hover { text-decoration: underline;}
	}
	.entry-content img {
		margin: 0 0 1.5em 0;
	}
	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
		}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
		}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
		}
	.alignnone, img.alignnone {
	/* not sure about this one */
	}
	.wp-caption {
		margin-bottom: 1.5em;
		text-align: center;
		padding-top: 5px;
		img {     
			border: 0 none;
			padding: 0;
			margin: 0;          
		}
		p.wp-caption-text {
			line-height: 1.5;
			font-size: 10px;
			margin: 0;
		}
	}
	
	.wp-smiley {
		margin: 0 !important;
		max-height: 1em;
	}
	blockquote.left {
		margin-right: 20px;
		text-align: right;
		margin-left: 0;
		width: 33%;
		float: left;
	}
	blockquote.right {
		margin-left: 20px;
		text-align: left;
		margin-right: 0;
		width: 33%;
		float: right;
	}
}

.section {
	margin-top: 60px;
	&:first-of-type {
		margin-top: 0;
	}
}
.work {
	.title {
		color: #222;
		text-transform: uppercase;
	}
}
/* ----------------------------------------- WordPress WYSIWYG Editor Styles */   

body.post-type-archive-exhibition {
	.row.featured {
		margin-bottom: 5em;
	}
}