@charset "UTF-8";
/* Colors */
/* ----------------------------------------- */
/* ----------------------------------------- Colors */
/* Effects */
/* ----------------------------------------- */
/* ----------------------------------------- Effects */
/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
@font-face {
  font-family: 'FontAwesome';
  src: url('{{ "fontawesome-webfont.eot" | asset_url }}');
  src: url('{{ "fontawesome-webfont.eot?#iefix" | asset_url }}') format("embedded-opentype"), url('{{ "fontawesome-webfont.woff2" | asset_url }}') format("woff2"), url(' {{ "fontawesome-webfont.woff" | asset_url }}') format("woff"), url(' {{ "fontawesome-webfont.ttf" | asset_url }}') format("truetype"), url(' {{ "fontawesome-webfont.svg#fontawesomeregular" | asset_url }}') format("svg");
  font-weight: normal;
  font-style: normal; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 81rem;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child,
  .column:nth-child(3n+1) {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; } }
  @media (min-width: 550px) and (min-width: 551px) and (max-width: 1064px) {
    .three.columns:not(.sm-tablet) {
      width: 48%; } }
  @media (min-width: 550px) and (min-width: 551px) and (max-width: 1064px) {
    .three.columns:not(.sm-tablet):nth-child(2n+1) {
      margin-left: 0; } }
@media (min-width: 550px) {
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.columns {
    width: 30.6666666667%; }
  .two-thirds.columns {
    width: 65.3333333333%; }
  .one-half.columns {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3.0rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

p {
  margin-top: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 32px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: none;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  position: relative;
  zoom: 1; }

.flexslider .slides {
  zoom: 1; }

.flexslider .slides img {
  height: auto; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }
  .flex-direction-nav li {
    padding: 0;
    margin: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em; }

.flex-direction-nav a:before {
  font-family: 'FontAwesome';
  font-size: 40px;
  display: inline-block;
  content: '\f104';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }

.flex-direction-nav a.flex-next:before {
  content: '\f105'; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: 'FontAwesome';
  font-size: 20px;
  display: inline-block;
  content: '\f04c'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f04b'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 8px;
  height: 8px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eee;
  z-index: 13;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s; }

/* Overlay closing cross */
.overlay-close {
  width: 20px;
  height: 20px;
  position: fixed;
  right: 7.5%;
  top: 35px;
  overflow: hidden;
  border: none;
  background: url('{{ "cross.png" | asset_url }}') no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Menu style */
.overlay nav {
  text-align: left;
  position: relative;
  top: 50%;
  height: 73%;
  transform: translateY(-50%); }
  @media (min-width: 320px) and (max-width: 550px) {
    .overlay nav {
      height: 65%; } }
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-align: center;
  height: 16.6666666667%;
  height: calc(100% / 7);
  min-height: 36px; }

.overlay ul li a {
  font-size: 1.6em;
  padding: 8px 0;
  font-weight: 300;
  display: block;
  color: #404040;
  transition: color 0.2s ease; }
  .overlay ul li a h1 {
    font-family: "brandon-grotesque",sans-serif;
    letter-spacing: 0.04em;
    font-size: 1.6em; }
    @media (min-width: 320px) and (max-width: 550px) {
      .overlay ul li a h1 {
        font-size: 1.2em; } }
.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #59616a; }

.overlay ul.main li:first-child {
  margin-top: -40px;
  margin-bottom: 50px; }

/* Effects */
.overlay.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s; }

.overlay nav {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.overlay nav ul {
  opacity: 0.4;
  transform: translateY(-25%) rotateX(35deg);
  transition: transform 0.5s, opacity 0.5s; }

.overlay.open nav ul {
  opacity: 1;
  transform: rotateX(0deg); }

.overlay.close nav ul {
  transform: translateY(25%) rotateX(-35deg); }

/*============================================================================
	Social Icon Buttons v1.0
	Author:
		Carson Shold | @cshold
		http://www.carsonshold.com
	MIT License
==============================================================================*/
[class^="icon-"], [class*=" icon-"] {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4em;
  color: #396071 !important;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-pinterest:before {
  content: "\f0d2"; }

/*================ Social share buttons ================*/
.social-sharing {
  float: left; }
  @media (min-width: 551px) and (max-width: 1064px) {
    .social-sharing {
      float: right;
      clear: both;
      margin-bottom: 20px; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .social-sharing {
      float: right;
      clear: both;
      margin-bottom: 20px; } }
  .social-sharing * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .social-sharing a {
    display: inline-block;
    color: #fff;
    margin: 0 3px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    font-weight: normal;
    text-rendering: auto; }
    .social-sharing a:hover {
      opacity: 0.7; }
  .social-sharing span {
    display: inline-block;
    vertical-align: top;
    height: 26px;
    line-height: 26px;
    font-size: 22px; }
  .social-sharing .icon {
    padding: 1px 2px; }
    .social-sharing .icon:before {
      line-height: 26px; }

span.share-title {
  display: none !important; }

/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Menu
	#Images
	#Videos
	#Buttons
	#Tabs
	#Forms
	#Tables
	#Misc
	#Site Styles
	#FlexSlider
	#FancyBox */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
* {
  margin: 0; }

html, body {
  height: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Basic Styles
================================================== */
body {
  font-family: "brandon-grotesque",sans-serif;
  background-color: #eee;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }

#loading {
  text-align: center;
  position: relative;
  width: 100px;
  height: 50px;
  margin: 15% auto; }

#loading img {
  opacity: .40;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 9999; }

::-moz-selection {
  background-color: #000;
  color: #fff; }

::selection {
  background-color: #000;
  color: #fff; }

abbr {
  border-bottom: 1px dotted #999; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6, .title a {
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #999;
  display: block;
  letter-spacing: 0.02em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .title a {
  font-weight: 300;
  color: #000; }

h1 a, h1 a:visited, .title a, .title a:visited {
  color: #999; }

h1 a:hover, h1 a:active, .title a:hover, .title a:active {
  color: #396071; }

h1, .h1 {
  font-size: 30px;
  border-top: none;
  padding: 15px 0 15px 0;
  clear: both;
  color: #000; }

h1.collection-title {
  text-transform: none;
  font-weight: 500;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 2.5em;
  line-height: 1; }
  h1.collection-title.exhibitions {
    text-align: center; }
    h1.collection-title.exhibitions .bio span {
      text-align: center; }
  @media (min-width: 320px) and (max-width: 550px) {
    h1.collection-title {
      font-size: 2em;
      padding-bottom: 5px; } }
.product_name {
  font-size: 15.6px;
  display: block;
  margin-top: 20px;
  text-align: right;
  font-family: "brandon-grotesque",sans-serif;
  text-transform: uppercase;
  color: #999;
  position: relative;
  padding: 1em 0 0 0; }
  .product_name:before {
    height: 4px;
    display: block;
    width: 30px;
    background: #999;
    content: '';
    position: absolute;
    top: 0;
    right: 0; }

.product_name.search {
  text-align: left; }

.product_vendor {
  margin-bottom: 0;
  font-size: 1.8em;
  text-align: right;
  font-weight: 500;
  font-family: "brandon-grotesque",sans-serif;
  text-transform: none;
  padding: 20px 0 0; }

h1.title, .section-title {
  text-align: left;
  margin: 0;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 2.2em;
  font-weight: 500;
  padding-bottom: 2em; }
  h1.title:after, .section-title:after {
    height: 3px;
    display: block;
    width: 30px;
    background: #000;
    content: '';
    margin-top: 30px;
    text-align: left; }
  @media (min-width: 320px) and (max-width: 550px) {
    h1.title, .section-title {
      font-size: 2em; } }
h2 {
  font-size: 24px;
  line-height: 1.4;
  text-align: left;
  padding: 20px 0;
  font-weight: 500;
  font-family: "brandon-grotesque",sans-serif;
  color: #000; }
  h2.related {
    border-bottom: none;
    padding: 1em 0 2em; }
    h2.related:after {
      height: 4px;
      display: block;
      width: 30px;
      background: #000;
      content: '';
      margin-top: 25px;
      text-align: left; }

h3, .h3, h1.blog_title {
  font-size: 18px;
  line-height: 36px;
  margin: 0 auto 15px 0;
  font-weight: 300;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 0 0 20px 0; }

h4, .h4, h4.title a {
  font-size: 16px;
  line-height: 35px;
  margin: 0 0 15px 0;
  font-weight: 300;
  text-align: left;
  padding: 0;
  text-transform: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  letter-spacing: 0.04em; }

h4.title a {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0; }

h5, .h5 {
  font-size: 22px;
  padding-bottom: 5px; }

h6, .h6 {
  font-size: 20px;
  padding-bottom: 15px; }

.subheader {
  color: #999; }

.modal h3 {
  padding: 12px 0; }

h6.social {
  padding-bottom: 10px; }

p {
  margin: 0 0 10px;
  font-style: normal;
  letter-spacing: 0.02em;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 1.3em; }

p img {
  margin: 0; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: 700; }

small {
  font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic; }

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd; }

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 15px;
  height: 0; }

.quote {
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  margin: 0 0 20px 0;
  font-style: italic; }

/* #Links
================================================== */
a, a:visited {
  font-weight: 300;
  color: #999;
  text-decoration: none;
  outline: 0;
  transition: color 0.3s ease-out; }

a:hover, a:focus {
  color: #000; }

/* #Lists
================================================== */
ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside; }

ol {
  list-style: decimal; }

ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px; }

ul.square {
  list-style: square outside; }

ul.circle {
  list-style: circle outside; }

ul.disc {
  list-style: disc outside; }

ul ul, ul ol,
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%; }

ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px; }

li {
  line-height: 18px;
  margin-bottom: 12px; }

ul.large li {
  line-height: 21px; }

li p {
  line-height: 21px; }

ul {
  line-height: 26px; }

ul li {
  list-style: none outside none;
  padding: 12px 0;
  margin-bottom: 0; }

ul li.artists {
  display: inline-block;
  padding: 10px 10px; }

#admin-bar-iframe {
  display: none; }

/* #Menu
================================================== */
.top_bar {
  background-color: #eee;
  text-align: center;
  line-height: 1;
  height: 80px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  box-shadow: 0px 2px 15px 0px rgba(175, 175, 175, 0.25); }
  @media (min-width: 320px) and (max-width: 550px) {
    .top_bar {
      padding: 10px 0 4px; } }
.overlay #logo {
  display: none;
  margin: 0 auto;
  max-width: 85%; }
  @media (min-width: 320px) and (max-width: 550px) {
    .overlay #logo {
      display: block; } }
  @media (min-width: 551px) and (max-width: 1064px) {
    .overlay #logo {
      display: block;
      max-height: 100px; } }
.top_bar #nav {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  float: right;
  height: 80px; }
  .top_bar #nav .main {
    float: left;
    margin-right: 20px; }
    @media (min-width: 320px) and (max-width: 550px) {
      .top_bar #nav .main {
        display: none; } }
    @media (min-width: 551px) and (max-width: 1064px) {
      .top_bar #nav .main {
        display: none; } }
    .top_bar #nav .main > ul > li {
      margin-right: 25px; }
    .top_bar #nav .main ul {
      list-style: none;
      display: block;
      float: right;
      margin: 20px 0;
      position: relative; }
      .top_bar #nav .main ul li {
        display: inline-block; }
        .top_bar #nav .main ul li a {
          font-size: 1.5em;
          letter-spacing: 0.08em;
          text-transform: uppercase; }
          .top_bar #nav .main ul li a.active {
            color: #404040;
            font-weight: 500; }
        .top_bar #nav .main ul li:hover > ul.nav-drop {
          display: flex;
          flex-direction: column;
          text-align: left; }
      .top_bar #nav .main ul.nav-drop {
        display: none;
        position: absolute;
        background-color: #eee;
        margin: 0;
        top: 100%;
        box-shadow: 0px 2px 15px 0px rgba(175, 175, 175, 0.25);
        padding: 20px 0;
        margin-left: -20px; }
        .top_bar #nav .main ul.nav-drop li a {
          padding: 0 45px 0 20px;
          display: block; }

.top_bar #logo {
  width: 330px;
  opacity: 1;
  float: left;
  margin-left: -20px; }
  @media (min-width: 320px) and (max-width: 550px) {
    .top_bar #logo {
      display: none; } }
  .top_bar #logo g#frame {
    display: none; }

.top_bar #logo-icon {
  width: 124px;
  height: auto;
  transition: opacity 0.5s ease-out;
  display: none;
  float: left; }
  @media (min-width: 320px) and (max-width: 550px) {
    .top_bar #logo-icon {
      display: block;
      opacity: 1; } }
.trigger-overlay {
  position: relative;
  float: right;
  z-index: 1;
  width: 30px;
  height: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
  display: none;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }
  @media (min-width: 320px) and (max-width: 550px) {
    .trigger-overlay {
      display: block; } }
  @media (min-width: 551px) and (max-width: 1064px) {
    .trigger-overlay {
      display: block;
      margin-top: 20px; } }
.trigger-overlay i {
  display: block;
  width: 30px;
  height: 3px;
  margin: 18px 0;
  background: #232323;
  transition: all 0.3s ease-out; }

.trigger-overlay i:before,
.trigger-overlay i:after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #232323;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-out; }

.trigger-overlay i:before {
  top: 10px; }

.trigger-overlay i:after {
  top: 26px; }

.search-bar {
  cursor: pointer;
  position: relative;
  display: block;
  float: right;
  width: 24px;
  height: 24px;
  margin: 27px 0;
  z-index: 1; }
  @media (min-width: 320px) and (max-width: 550px) {
    .search-bar {
      margin-top: 21px; } }
  .search-bar .menu-search {
    display: block; }
    .search-bar .menu-search:hover {
      color: #59616a !important; }

.search-404 {
  margin: 20px 0;
  width: 50%; }
  .search-404 input {
    text-align: left !important;
    color: #404040 !important;
    border-color: #404040 !important;
    font-size: 1.2em !important; }

#form-iframe {
  display: none;
  width: 100%;
  max-width: 700px;
  position: relative; }
  #form-iframe .search-form {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    height: 100%; }
  #form-iframe input.search_box {
    width: 100%;
    height: 100%;
    border: none;
    color: #999;
    font-size: 24px;
    padding: 20px 0 20px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    text-align: center;
    font-weight: 300;
    background: transparent; }

.nav-home {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }
  .nav-home .inner {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 81rem;
    padding: 0 20px;
    box-sizing: border-box; }
    .nav-home .inner .links {
      display: block;
      width: 100%;
      position: absolute;
      text-align: left;
      height: 36px;
      top: 57%;
      z-index: 1; }
      @media (min-width: 320px) and (max-width: 550px) {
        .nav-home .inner .links {
          top: 60%; } }
      .nav-home .inner .links a {
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 12px;
        border-bottom: 2px solid;
        font-family: "ff-tisa-web-pro",serif;
        display: inline-block;
        font-weight: 400;
        letter-spacing: 0; }
        @media (min-width: 320px) and (max-width: 550px) {
          .nav-home .inner .links a {
            font-size: 1.2em; } }
    .nav-home .inner .news {
      display: block;
      width: 100%;
      position: absolute;
      text-align: left;
      top: 75%;
      z-index: 1; }
      @media (min-width: 320px) and (max-width: 550px) {
        .nav-home .inner .news {
          top: 55%; } }
      .nav-home .inner .news b {
        font-size: 1.2em;
        margin-bottom: 1em;
        font-family: 'brandon-grotesque',sans-serif; }

#caption.white,
.links.white a,
.news.white,
.news.white a {
  border-color: #fff;
  color: #fff !important; }

#caption.accent,
.links.accent a,
.news.accent,
.news.accent a {
  border-color: #396071;
  color: #396071 !important; }

#caption.dark,
.links.dark a,
.news.dark,
.news.dark a {
  color: #404040 !important; }

.links a:hover, .news a:hover {
  border-color: #396071 !important;
  color: #396071 !important; }

.container-bottom {
  display: block;
  margin-top: -43px; }
  @media (min-width: 320px) and (max-width: 550px) {
    .container-bottom {
      margin-top: -32px; } }
a.smoothy {
  display: block;
  width: 50%;
  float: left; }
  a.smoothy.scroll-down .text-message {
    display: none;
    margin-top: -28px;
    padding-left: 32px;
    text-transform: uppercase;
    font-size: 0.8em; }
  a.smoothy #arrow-down {
    max-width: 36px;
    fill: #999; }
  a.smoothy:hover {
    color: #000; }
    a.smoothy:hover #arrow-down {
      fill: #000; }

.control-nav {
  display: block;
  width: 50%;
  float: left;
  text-align: right; }
  .control-nav li {
    margin: 0 7px;
    display: inline-block;
    zoom: 1; }
    .control-nav li a {
      width: 7px;
      height: 7px;
      display: block;
      background-color: #9b9b9b;
      cursor: pointer;
      text-indent: -9999px;
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px; }
      .control-nav li a.flex-active {
        background-color: #000; }

/* #HOME PAGE
================================================== */
#home-feature {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: fixed;
  top: 90px; }

#home-feature .flexslider {
  display: block;
  position: relative;
  height: 100% !important;
  overflow: hidden !important;
  width: 100% !important;
  margin-bottom: 0; }

#home-feature .flexslider .flex-viewport {
  height: 100%; }

#home-feature .flexslider .slides,
#home-feature .flexslider .slides li {
  height: 100% !important; }

#home-feature .flexslider .slides > li {
  padding: 0; }

#home-feature .flexslider .hover {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .35s linear 0.3s; }
  #home-feature .flexslider .hover.dark {
    background: linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 16.67%, rgba(0, 0, 0, 0.2) 33%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%); }
  #home-feature .flexslider .hover.clear {
    background: transparent; }

#home-feature .flexslider .bigbg {
  width: 100%;
  height: 100%;
  background: 50% 50% no-repeat;
  background-size: cover; }

#home-feature #caption {
  width: 100%;
  position: absolute;
  top: 33%;
  display: block;
  text-align: left;
  transition: color 0.3s ease-out; }
  @media (min-width: 320px) and (max-width: 550px) {
    #home-feature #caption {
      top: 33%; } }
#caption a {
  visibility: hidden; }

#caption p {
  line-height: 1.2;
  font-family: "ff-tisa-web-pro",serif;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.3em; }

#caption p.title {
  font-family: "brandon-grotesque",sans-serif;
  line-height: 1.2;
  font-size: 3.2em;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase; }
  @media (min-width: 320px) and (max-width: 550px) {
    #caption p.title {
      font-size: 2.35em; } }
#caption p.legende {
  line-height: 1;
  font-size: 2.2em;
  font-style: italic;
  font-weight: 500;
  margin: .5em 0 1.5em 0; }
  @media (min-width: 320px) and (max-width: 550px) {
    #caption p.legende {
      font-size: 1.2em; } }
.header {
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
  height: 80px;
  padding-top: 42px; }
  @media (min-width: 320px) and (max-width: 550px) {
    .header {
      padding-top: 28px; } }
p.tagline {
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.1;
  padding: 2em 0;
  text-transform: uppercase; }

.header.white p.tagline {
  color: #fff; }

.header.accent p.tagline {
  color: #396071; }

.header.dark p.tagline {
  color: #404040; }

a.bio {
  display: block;
  position: inherit;
  text-align: left;
  padding-bottom: 2em; }
  a.bio span {
    font-family: "ff-tisa-web-pro",serif;
    font-weight: 400;
    letter-spacing: 0;
    font-style: italic;
    text-transform: none;
    display: block;
    margin-bottom: -20px;
    font-size: 0.65em; }

/* #Images
================================================== */
/*
	The purpose of the below declaration is to make sure images don't
	exceed the width of columns they are put into when resizing window.
	Unfortunately, this declaration breaks certain lightbox, slider or other plugins,
	so the best solution is to individually call these properties on images that
	are children of the grid that you want to resize with grid.
*/
.product_images img {
  max-height: 600px;
  margin: 0 auto 25px; }

.thumbnail a img {
  max-width: 100%;
  display: block; }

.thumbnail a:hover img {
  opacity: 0.7; }

img.collection-image {
  max-height: 600px;
  margin: 0 auto 0 0; }
  @media (min-width: 320px) and (max-width: 550px) {
    img.collection-image {
      margin-bottom: 20px; } }
img {
  max-width: 100%;
  height: auto;
  display: block; }

.exhibitions .thumbnail {
  height: 460px;
  position: relative; }
  @media (min-width: 551px) and (max-width: 1064px) {
    .exhibitions .thumbnail {
      height: 340px; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .exhibitions .thumbnail {
      height: auto; } }
  .exhibitions .thumbnail img {
    max-height: 395px; }
    @media (min-width: 320px) and (max-width: 550px) {
      .exhibitions .thumbnail img {
        width: 100%;
        max-height: none; } }
/* #Videos
================================================== */
/*
	For YouTube and Vimeo videos, wrap the embedded code snippet
	in a <div class="video-container"> tag to allow it to resize.
	To restrict the width, wrap with an additional <div class="video-wrapper">
*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-wrapper {
  width: 600px;
  max-width: 100%; }

/* #Buttons
================================================== */
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  padding: 0;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  text-decoration: none;
  cursor: pointer;
  font-family: "brandon-grotesque",sans-serif;
  background: transparent;
  vertical-align: bottom; }

button.remove {
  font-size: 26px;
  color: #000; }

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #fff;
  border: none; }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.btn {
  font-family: "brandon-grotesque",sans-serif;
  border: 1px solid gray;
  color: gray;
  font-size: 14px;
  padding: 12px 16px; }

/* #Forms
================================================== */
form {
  margin-bottom: 20px; }

fieldset {
  margin-bottom: 20px; }

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea,
select {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #fff;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #fff;
  outline: medium none;
  padding: 0 35px 0;
  position: relative;
  vertical-align: middle;
  padding: 2px 4px;
  font: 12px "brandon-grotesque",sans-serif;
  margin: 0;
  width: 100%;
  height: 40px;
  max-width: 100%;
  display: inline-block;
  background: transparent;
  -webkit-appearance: none; }

select {
  padding: 0; }

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #fff;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #fff; }

label,
legend {
  display: block;
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 10px; }

select {
  width: 100%;
  text-align: left; }

.select {
  text-align: right; }

input[type="checkbox"] {
  display: inline; }

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #999; }

textarea#note {
  width: 100%; }

/* #Misc
================================================== */
.remove-bottom {
  margin-bottom: 0 !important; }

.half-bottom {
  margin-bottom: 10px !important; }

.add-bottom {
  margin-bottom: 20px !important; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  text-align: center; }

.relative {
  position: relative; }

.align_right {
  text-align: right; }

.align_left {
  text-align: left; }

div.mobile_only {
  display: none; }

.no_border {
  border: none !important; }

.extra_padding {
  padding-top: 4px; }

div.hidden {
  display: none; }

/* #Site Styles
================================================== */
div.content {
  padding-top: 135px;
  padding-bottom: 90px; }
  @media (min-width: 320px) and (max-width: 550px) {
    div.content {
      padding-top: 110px; } }
.press {
  text-align: center;
  padding: 15px 0 30px; }

.press p img {
  padding: 20px 40px 20px 0;
  display: block;
  float: left !important; }

.press .hidden {
  display: none; }

.inner-page h2 {
  text-align: left;
  border: none; }

.inner-page h3 {
  text-align: left; }

div#bio {
  padding-top: 110px;
  border-top: 1px solid #ddd;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 22px; }

div#bio p {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 22px;
  padding-right: 6em; }
  @media (min-width: 551px) and (max-width: 1064px) {
    div#bio p {
      padding-right: 0em; } }
  @media (min-width: 320px) and (max-width: 550px) {
    div#bio p {
      padding-right: 0em; } }
div#bio a {
  font-size: 1.2em;
  color: #232323;
  text-transform: uppercase; }

.presstitle {
  margin: 15px 0; }

p.background {
  font: 19px/30px;
  font-weight: 300;
  text-align: center;
  margin: 30px 0; }

.title a {
  clear: none; }

.title p a {
  clear: none; }

.paginate {
  text-align: center; }

.paginate span {
  padding: 0 10px;
  font-size: 1.2em; }

.thumbnail {
  position: relative;
  text-align: center;
  margin-bottom: 15px; }

.thumbnail .info {
  text-align: left;
  margin: 10px 0;
  letter-spacing: 0;
  min-height: 40px;
  letter-spacing: 0.04em; }
  .thumbnail .info.collection {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 1.2em;
    padding-top: 5px;
    letter-spacing: 0.04em; }

.thumbnail .vendor {
  float: right;
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  letter-spacing: 0; }
  .thumbnail .vendor a, .thumbnail .vendor span {
    color: #000;
    font-weight: 500; }
  .thumbnail .vendor a:hover {
    color: grey; }

.description {
  margin: 20px 0 50px 0;
  text-align: right; }

.description p,
.description span {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1pt; }

/* #Collection listing
================================================== */
.collection-list {
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
  list-style: none;
  padding: 0;
  display: block;
  height: 100%; }
  @media (min-width: 320px) and (max-width: 550px) {
    .collection-list {
      -webkit-column-count: 2;
      -webkit-column-gap: 0px;
      -moz-column-count: 2;
      -moz-column-gap: 0px;
      column-count: 2; } }
  .collection-list li {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 18px; }
    .collection-list li a {
      font-size: 1.6em;
      padding: 8px 0;
      font-weight: 300;
      display: block;
      color: #404040;
      transition: color 0.2s; }

ul.advanced-filters {
  padding: 0 0 2em; }
  ul.advanced-filters li {
    display: inline-block;
    padding: 0 1.5em 0 0;
    line-height: 1.5; }
    @media (min-width: 320px) and (max-width: 550px) {
      ul.advanced-filters li {
        font-size: 1em;
        padding: 0 .7em 0 0; } }
    ul.advanced-filters li a {
      font-family: "ff-tisa-web-pro",serif;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0;
      text-transform: capitalize;
      font-size: 1.5em; }
      @media (min-width: 320px) and (max-width: 550px) {
        ul.advanced-filters li a {
          font-size: 1.3em; } }
    ul.advanced-filters li.active-filter a {
      color: #000;
      border-bottom: 3px solid #000; }
    ul.advanced-filters li.all a {
      color: #000;
      border-bottom: 3px solid #000; }

.artists-list {
  width: 50%;
  float: left; }
  @media (min-width: 320px) and (max-width: 550px) {
    .artists-list {
      width: 100%;
      min-height: 0; } }
  .artists-list ul {
    column-count: 2;
    column-gap: 0px;
    list-style: none;
    padding: 0;
    display: block;
    height: 100%; }
    .artists-list ul li {
      display: block;
      padding: 0;
      margin: 0;
      line-height: 18px; }
      .artists-list ul li a {
        font-size: 1.6em;
        padding: 8px 0;
        font-weight: 300;
        display: block;
        color: #404040;
        transition: color 0.2s;
        display: inline-block; }
      .artists-list ul li.active a {
        color: black; }

.artists-thumb {
  width: 50%;
  float: left;
  box-sizing: border-box; }
  @media (min-width: 320px) and (max-width: 550px) {
    .artists-thumb {
      display: none; } }
  @media (min-width: 1065px) {
    .artists-thumb {
      height: calc(100vh - 200px);
      box-sizing: border-box; } }
  .artists-thumb img {
    object-fit: contain;
    object-position: left top;
    width: 100%;
    height: 100%; }

/* #Footer
================================================== */
section#featured {
  position: relative;
  background: #eee;
  z-index: 10;
  padding: 42px 0; }
  @media (min-width: 320px) and (max-width: 550px) {
    section#featured {
      padding-top: 30px; } }
  section#featured .featured-content {
    padding-top: 42px;
    padding-bottom: 84px; }
  section#featured .featured-columns {
    padding-bottom: 42px; }
    section#featured .featured-columns img:hover {
      opacity: 0.8; }
    section#featured .featured-columns h3 {
      padding-bottom: 0;
      color: #000;
      border: none;
      margin: 0;
      font-weight: 300;
      letter-spacing: 0.1em; }
    section#featured .featured-columns p {
      text-align: left;
      color: #999; }

#wrapper {
  margin-bottom: -270px;
  min-height: 100%; }
  @media (min-width: 320px) and (max-width: 550px) {
    #wrapper {
      margin-bottom: 0; } }
#wrapper:after {
  height: 270px;
  content: "";
  display: block; }
  @media (min-width: 320px) and (max-width: 550px) {
    #wrapper:after {
      height: auto; } }
.loader {
  background-image: url('{{ "loading.gif" | asset_url }}');
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff; }

.footer-wrap {
  padding-top: 60px;
  font-size: 16px;
  background: #396071;
  color: #fff;
  z-index: 10;
  padding-bottom: 60px;
  width: 100%;
  position: relative; }
  @media (min-width: 320px) and (max-width: 550px) {
    .footer-wrap {
      height: auto;
      text-align: center;
      padding-bottom: 40px; } }
  .footer-wrap a {
    color: #fff; }
    .footer-wrap a:hover {
      color: #9BA2A8; }
  .footer-wrap ul {
    margin: 0; }
    .footer-wrap ul li {
      padding: 0;
      line-height: 18px; }
  .footer-wrap h3 {
    border-bottom: 0;
    padding: 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.04em;
    font-family: "brandon-grotesque",sans-serif;
    font-size: 18px;
    margin-bottom: 6px; }
    @media (min-width: 320px) and (max-width: 550px) {
      .footer-wrap h3 {
        text-align: center; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .footer-wrap .container:first-child .columns {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid white; } }
  .footer-wrap .bottom ul {
    margin: 35px 0 0 0; }
    .footer-wrap .bottom ul li {
      padding: 0 10px 0 0;
      display: inline-block;
      border: none;
      letter-spacing: 0;
      color: #A6ADB5; }
  .footer-wrap .bottom a {
    color: #9BA2A8; }
    .footer-wrap .bottom a:hover {
      color: #fff; }

.footer-wrap .last,
.last h3 {
  text-align: right; }
  @media (min-width: 320px) and (max-width: 550px) {
    .footer-wrap .last,
    .last h3 {
      text-align: center; } }
form#subscribe {
  margin: 25px 0 0 0; }

form#subscribe input[type="email"] {
  color: #fff;
  width: 69%;
  font-size: 1em;
  margin-bottom: 0;
  height: 20px; }

form#subscribe input[type="submit"] {
  font-size: 1em;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0;
  text-align: left;
  width: 30%;
  -webkit-appearance: none;
  margin-bottom: 0; }
  @media (min-width: 551px) and (max-width: 1064px) {
    form#subscribe input[type="submit"] {
      width: 10%; } }
  @media (min-width: 320px) and (max-width: 550px) {
    form#subscribe input[type="submit"] {
      width: 100%;
      text-align: center; } }
.social_link:hover {
  transition: opacity 0.3s ease-out;
  opacity: 0.75;
  filter: alpha(opacity=75); }

/* #ENQUIRIES FORM
	================================================== */
#enquiries {
  width: 100%;
  position: relative; }
  #enquiries::after {
    clear: both;
    content: "";
    display: block; }

#displayText {
  float: right;
  text-align: right;
  font-size: 16px;
  padding: 4px 0 4px 12px;
  color: #396071;
  border: 2px solid;
  border-color: #396071;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease-out; }
  @media (min-width: 551px) and (max-width: 1064px) {
    #displayText {
      clear: both; } }
  @media (min-width: 320px) and (max-width: 550px) {
    #displayText {
      clear: both; } }
#displayText:hover {
  background-color: #396071;
  color: #ab9b8b; }

i.toggle {
  padding: 0 8px;
  cursor: pointer;
  display: block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  color: #ab9b8b;
  float: right; }

i.toggle:before {
  content: "\f078"; }

.form form {
  margin-bottom: 5px; }

.form {
  float: right;
  text-align: right;
  letter-spacing: 0.02em;
  width: 100%; }

.form ul {
  line-height: 18px;
  margin-bottom: 0; }

.form ul li {
  padding: 5px 0; }

#input_8 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0px 12px;
  border: 2px solid;
  float: right;
  clear: both;
  color: #396071;
  border-color: #396071; }

#input_8:hover {
  background-color: #396071;
  color: #396071; }

.jotform-form input[type="text"],
.jotform-form input[type="number"],
.jotform-form input[type="password"],
.jotform-form input[type="email"] {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ddd;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #999999;
  outline: medium none;
  position: relative;
  vertical-align: middle;
  padding: 0;
  font: 14px "brandon-grotesque",sans-serif;
  margin: 0;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  background: transparent; }

.jotform-form textarea {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ddd;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #999999;
  outline: medium none;
  position: relative;
  vertical-align: middle;
  padding: 1px 2px;
  font: 14px "brandon-grotesque",sans-serif;
  margin: 0;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  background: transparent;
  height: 36px;
  width: 100%; }

.jotform-form label,
.jotform-form legend {
  font: 14px "brandon-grotesque",sans-serif;
  display: inline-block;
  font-weight: normal;
  margin: 0;
  padding: 0; }

.jotform-form label span {
  font-weight: normal;
  font-size: 14px;
  color: #999; }

.jotform-form a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  margin-bottom: 10px;
  padding: 5px 0;
  color: #999;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  line-height: 18px;
  font: 12px "brandon-grotesque",sans-serif;
  background: transparent;
  vertical-align: middle; }

.jotform-form a.button:hover,
.jotform-form input[type="submit"]:hover,
.jotform-form input[type="reset"]:hover,
.jotform-form input[type="button"]:hover {
  background-color: #396071;
  color: #396071; }

.meta {
  border-top: 1px solid #ddd;
  padding-top: 6px;
  width: 100%;
  font-size: 11px;
  text-align: right;
  margin: 15px 0 30px; }
  .meta p {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #404040;
    letter-spacing: 0.02em;
    padding-top: 15px; }
  .meta span {
    text-transform: capitalize !important;
    font-size: 1em; }

h1 a:hover, h1 a:active, .title a:hover, .title a:active {
  color: #59616a !important; }

.loader {
  background-image: url("../../static/loading.gif"); }

#nav .main li.active a {
  color: #404040;
  font-weight: 500; }

.overlay-close {
  background: url("../../static/cross.png") no-repeat center center; }

.overlay h1 {
  font-weight: 300;
  text-transform: uppercase; }

.one-third:first-of-type, .four:first-of-type {
  margin-left: 0 !important;
  clear: left; }

.one-third:nth-child(3n+1), .four:nth-child(3n+1) {
  margin-left: 0 !important;
  clear: left; }

.three:first-of-type {
  margin-left: 0 !important;
  clear: left; }

.three:nth-child(4n+1) {
  margin-left: 0 !important;
  clear: left; }

.info-expo h2 {
  padding-bottom: 0;
  padding-top: 12px !important; }

.info-expo h4 span {
  text-transform: uppercase; }

figure.lg-featured-img img {
  width: 100%; }

.post-type-archive-press .thumbnail {
  border-bottom: 1px solid #fff; }

.pagination-block {
  padding-top: 24px; }
  .pagination-block ul {
    padding: 0;
    text-align: center; }
    .pagination-block ul li {
      display: inline-block;
      border: 1px solid #fff;
      padding: 12px 18px; }
      .pagination-block ul li a {
        text-transform: uppercase;
        font-size: 1rem;
        color: #000; }
      .pagination-block ul li:hover {
        background: #fff; }

.exhibition .title {
  padding-bottom: 1em; }

.exhibition h2 {
  font-size: 1.5em;
  padding-top: 0;
  color: #999; }

.exhibition p {
  font-size: 1.5em; }

.exhibition .exhibition-img {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 30px 0; }

#SliderContainer {
  height: 450px;
  width: 100%;
  opacity: 0;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 0; }
  @media (min-width: 320px) and (max-width: 550px) {
    #SliderContainer {
      overflow-x: hidden;
      overflow-y: auto;
      height: auto; } }
  #SliderContainer .slider {
    display: flex;
    position: relative;
    margin: 0 auto;
    height: 100%;
    overflow-x: scroll;
    cursor: grab;
    padding-bottom: 30px; }
    @media (min-width: 320px) and (max-width: 550px) {
      #SliderContainer .slider {
        width: 100% !important;
        padding-top: 0;
        flex-direction: column; } }
    #SliderContainer .slider .slide {
      flex-shrink: 0;
      margin-left: 10px;
      height: 100%;
      position: relative;
      cursor: pointer; }
      #SliderContainer .slider .slide:first-child {
        margin-left: 0; }
        @media (min-width: 320px) and (max-width: 550px) {
          #SliderContainer .slider .slide:first-child {
            margin-left: 0; } }
      @media (min-width: 320px) and (max-width: 550px) {
        #SliderContainer .slider .slide {
          margin: 15px !important;
          height: auto !important; } }
      #SliderContainer .slider .slide:hover > img {
        opacity: 0.8 !important; }
      #SliderContainer .slider .slide img {
        display: block;
        padding: 0;
        margin: 0;
        float: left;
        height: 100%;
        z-index: 0;
        position: relative; }
        @media (min-width: 320px) and (max-width: 550px) {
          #SliderContainer .slider .slide img {
            width: 100% !important;
            height: auto !important; } }
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ccc; }

.press .thumbnail {
  border-bottom: 1px solid white;
  margin-bottom: 12px; }

.press figure {
  display: block;
  float: left;
  width: 34%;
  border-right: 2px solid #fff;
  margin-right: 4%;
  padding-right: 4%; }

.press .info-press {
  width: 57%;
  float: left; }
  .press .info-press h3 {
    margin-top: 5px;
    font-size: 1.1em;
    line-height: 1.2;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 5px;
    color: #404040; }
    @media (min-width: 551px) and (max-width: 1064px) {
      .press .info-press h3 {
        font-size: 0.9em; } }
  .press .info-press p {
    color: #999;
    margin-bottom: 0;
    line-height: 1.1;
    text-align: left;
    font-size: 1em; }
    .press .info-press p p.link a {
      color: #404040 !important; }

/* WordPress WYSIWYG Editor Styles */
/* ----------------------------------------- */
.hentry img {
  max-width: 100%;
  height: auto; }

.hentry a {
  color: theme-color("primary"); }
  .hentry a:hover {
    text-decoration: underline; }

.hentry .entry-content img {
  margin: 0 0 1.5em 0; }

.hentry .alignleft, .hentry img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.hentry .alignright, .hentry img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.hentry .aligncenter, .hentry img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.hentry .alignnone, .hentry img.alignnone {
  /* not sure about this one */ }

.hentry .wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px; }
  .hentry .wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0; }
  .hentry .wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0; }

.hentry .wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

.hentry blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

.hentry blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

.section {
  margin-top: 60px; }
  .section:first-of-type {
    margin-top: 0; }

.work .title {
  color: #222;
  text-transform: uppercase; }

/* ----------------------------------------- WordPress WYSIWYG Editor Styles */
body.post-type-archive-exhibition .row.featured {
  margin-bottom: 5em; }

/*# sourceMappingURL=styles.css.map */