{% extends "base.twig" %}

{% block content %}
	<div class="row">
		<div class="twelve columns">
			<h1 class="title">Page Not Found</h1>
			<p class="quote">
					We're sorry, but the page you're looking for could not be found.
			</p>
		</div>
	</div>
	
{% endblock %}
