{% extends "base.twig" %}

{% block content %}	
	<div class="row">

		<div class="artists-list">
			<ul>
				{% for post in posts %}
				{% set postImage = post.thumbnail.src %}
					<li>
						<a 
							data-thumb="{{ post.thumbnail.src }}" 
							href="{{ post.link }}" 
							title="Browse our {{ post.title | escape }} collection.">
								{{ post.last_name ? post.last_name ~ ' ' ~ post.first_name  : post.post_title }}
							</a>
					</li>					
				{% endfor %}
			</ul>
		</div>

		<div class="artists-thumb sticky"></div>

	</div>
	
	{% include 'partial/pagination.twig' with {
		 pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) 
	} %}
{% endblock %}
