{% extends "base.twig" %}

{% block content %}	
	<div class="row">
		{% for group in groups %}
			{% set thumbnail = group.thumbnail %}
			<div class="one-third columns thumbnail">				
				<a href="{{ group.link }}" title="Browse our {{ group.name | escape }} collection.">
					{% if thumbnail %}
						<img src="{{ thumbnail.url }}" alt="{{ group.name | escape }}">
					{% endif %}
					<div class="info collection">
						{{ group.name }}
					</div>
				</a>
			</div>
		{% endfor %}
	</div>	
{% endblock %}
