{% extends "base.twig" %}

{% block content %}
	<div class="row">
		{% for post in posts %}
			<div class="four columns thumbnail">
				{% include 'partial/tease-press.twig' %}
			</div>
		{% endfor %}
	</div>	
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
