{% extends "base.twig" %}

{% block header %}
{% endblock %}

{% block content %}

			{% if current|length > 0 %}
				<div class="row">
					<div class="twelve columns">
						<h1 class="title">Current {{title}}</h1>
					</div>
				</div>

				<div class="row featured">
					{% for post in current %}
							<article>
									<figure class="lg-featured-img">
										<a href="{{post.link}}">
											<img src="{{ TimberImage(post.get_field('exhibition_lg_img')).src }}" />
										</a>
									</figure>
									<div class="info-expo">
										<a href="{{post.link}}">
											<h2>{{post.title}}</h2>
											<h4>
												<span>{{post.get_field('exhibition_title')}}</span><br>
														{{post.get_field('exhibition_dates')}}
											</h4>
										</a>
									</div>
							</article>
					{% endfor %}
				</div>
			{% endif %}


			{% if past|length > 0 %}

				<div class="row">
					<div class="twelve columns">
							<h2 class="section-title">PAST {{title}}</h2>
					</div>
				</div>

				<div class="row thumbnails">
					{% for post in past %}
							<div class="one-third columns thumbnail">
								{% include ['partial/tease-exhibition.twig'] %}
							</div>
					{% endfor %}
				</div>

			{% endif %} {# {% if past|length > 0 %} #}					

{% endblock %}
