{% block html_head_container %}

{% include 'partial/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<div id="wrapper">

			<div class="loader"></div>
			{% include "partial/header.twig" %}

			<div class="container content {{post.post_type}}">

				{% block header %}
					<div class="row">
						<div class="twelve columns">
							<h1 class="title">{{ title }}</h1>
						</div>
					</div>
				{% endblock %}
				
				{% block content %}
					Sorry, no content
				{% endblock %}

			</div>  <!-- end container-->

		</div>

		{% include 'partial/overlay.twig' %}
		{% include 'partial/footer.twig' %}
		{{ function('wp_footer') }}

	</body>
</html>
