{% block html_head_container %}

{% include 'partial/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<div id="wrapper">

			<div class="loader"></div>
			{% include "partial/header.twig" %}
							
			<div id="shopify-section-hero-slider" class="shopify-section index-section">
				{% include "partial/hero-slider.twig" %}
			</div>


			<section id="featured">

				<div class="container container-bottom">
					<a class="smoothy scroll-down" href="#featured">
						<svg id="arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75" x="0px" y="0px"><g><polygon points="36,43.7 27.6,35.2 25.4,37.4 36,47.9 46.6,37.3 44.4,35.2  "/><polygon points="46.6,27 44.4,24.9 36,33.3 27.6,24.9 25.4,27 36,37.5  "/></g></svg>
						<span class="text-message">Scroll</span>
					</a>
					<ul class="control-nav">
						{% for slide in post.meta('slides') %}
							<li><a></a></li>
						{% endfor %}						
					</ul>
					
					{% include "partial/home-featuredproducts.twig" %}					
					{% include "partial/home-artists.twig" %}
					{% include "partial/home-exhibitions.twig" %}

				</div> <!-- .container.container-bottom -->
			</section>

		</div>

		{% include 'partial/overlay.twig' %}
		{% include 'partial/footer.twig' %}
		{{ function('wp_footer') }}

	</body>
</html>
