{% extends "base.twig" %}

{% block content %}	
	<div class="row">

		<div class="six columns">
			{% if post.thumbnail %}

				{% if post.map_redirect_link %}
					<a href="{{post.map_redirect_link}}" target="_blank">
				{% endif %}

					<img src="{{post.thumbnail.src}}" alt="{{post.post_title}}" class="img-fluid">

				{% if post.map_redirect_link %}
					</a>
				{% endif %}				

			{% endif %}		
		</div>

		<div class="six columns">
			<div class="inner-page">
					{{post.content}}
			</div>
		</div>
		
	</div>
{% endblock %}
