{% extends "base.twig" %}

{% block header %}
	<div class="row">
		<div class="twelve columns">
			<h1 class="title">{{ search.results_count }} {{ _n('Result', 'Results', search.results_count) }} for <strong>"{{search.terms | escape}}"</strong></h1>
		</div>
	</div>
{% endblock %}

{% block content %}

	<div class="row">
		{% if posts|length > 0 %}

			{% for post in posts %}
				{# {% include ['partial/tease-'~post.post_type~'.twig', 'partial/tease.twig'] %} #}
				<div class="one-third columns thumbnail">
					{% include ['partial/tease-search.twig'] %}
				</div>
			{% endfor %}

		{% else %}
						
			<div class="twelve columns">
				<p class="quote">Your search for <strong>"{{search.terms | escape}}"</strong> did not match any products.<br>
					<a href="#" onclick="window.history.back();return false;" style="color:#000">Go back</a> or try again.
				</p>
			</div>			

		{% endif %}	

	</div>
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
