{% extends "base.twig" %}

{% block header %}

{% endblock %}


{% block content %}
	
<div class="row">
	<div class="twelve columns" itemscope itemtype="http://data-vocabulary.org/Product" id="product-{{ post.id }}">
    
    <div class="eight columns">
      <div id="feature_image" class="product_images">      
        {% for image in post.meta('images') %}        
          <img 
            src="{{ image.url }}"
            alt="{{ fn('get_the_title', post.artist_id) ~ ' ' ~ post.title }}"
            title="{{ post.title ~ ' by ' ~ fn('get_the_title', post.artist_id) }}"
            itemprop="image" />
        {% endfor %}
      </div>
    </div>

    <div class="four columns side">

      <h1 class="product_vendor" itemprop="brand">
        {{ artist_name }}
        <span class="product_name" itemprop="name">{{ post.title }}</span>
      </h1>      

      <div class="description" itemprop="description">
        {% if post.artwork_type %}
          <p>{{ post.meta('artwork_type') }}</p>
        {% endif %}
        
        {% if post.year %}
          <p>{{ post.year }}</p>
        {% endif %}
        
        {% if post.medium %}
          <p>{{ post.medium }}</p>
        {% endif %}
        
        {% if post.edition_details %}
          <p>{{ post.edition_details }}</p>
        {% endif %}
        
        {% if post.signed_dated %}
          <p>{{ post.signed_dated }}</p>
        {% endif %}

        {% if post.dimensions %}
          <p>{{ post.meta('dimensions') }}</p>
        {% endif %}

      </div>

      <div id='enquiries'>
        
        {# {% include 'partial/block-socialshare.twig' %} #}
        
        <p id="displayText">Inquire
          <i class="toggle"></i>
        </p>

        <div id="toggleText" style="display: none" class="form" itemprop="form">
          {% include 'partial/enquiries-form.twig' %}
        </div>

      </div>


    {% if collections %}
      <div class="meta">
          <p>Browse Collections<br>
          <span>
            {% for col in collections %}
              <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
              <br />
            {% endfor %}
          </span>
        </p>
      </div>
    {% endif %}

    </div>

  </div>
</div>

{% if related|length > 0 %}
  <div class="row">
    <div class="twelve columns">
      <h2 class="related">Related Items</h2>
    </div>
  </div>

  <div class="row">
    {% for product in related %}
      {% include 'partial/loop-works.twig' %}
    {% endfor %}
  </div> <!-- .row -->

{% endif %}

    
{% endblock %}