{% extends "base.twig" %}
{% set hasBio = post.thumbnail or post.content %}

{% block header %}
	<div class="row">
		<div class="twelve columns">
			<h1 class="title">{{ title }}</h1>
		</div>
		<div class="twelve columns">
			<ul class="advanced-filters">
				{% if hasBio %}
				<li><a href="#biography" class="js-smoothy">Biography</a></li>
				{% endif %}
				{% if works|length > 0 %}
					<li><a href="#works" class="js-smoothy">Featured Works</a></li>
				{% endif %}
				{% if events|length > 0 %}
				<li><a href="#events" class="js-smoothy">Exhibitions & Fairs</a></li>
				{% endif %}				
				{% if press|length > 0 %}
				<li><a href="#press" class="js-smoothy">Press</a></li>				
				{% endif %}								
			</ul>
		</div>
	</div>
{% endblock %}

{% block content %}		

	{% if hasBio %}	
	<div id="biography" class="section row">
		<div class="twelve columns">
			<h2>Biography</h2>
			<div class="hentry">
				{% if post.thumbnail %}
					<div class="six columns">
						<img src="{{ post.thumbnail.src }}" alt="Imagem from {{ post.title }}" class="img-fluid">
					</div>
				{% endif %}
				<div class="six columns">
					{{post.content}}
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if works|length > 0 %}
		<div id="works" class="section row">
			<div class="twelve columns">
				<h2>Featured Works</h2>
				<div class="row">
					{% for product in works %}
						{% include 'partial/loop-works.twig' %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}

	{% if events|length > 0 %}	
	<div id="events" class="section row">
		<div class="twelve columns">
			<h2>Exhibitions & Fairs</h2>
			<div class="row">
				{% for post in events %}
					<div class="three columns thumbnail">
						{% include ['partial/tease-exhibition.twig'] %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}

	
	{% if press|length > 0 %}	
	<div id="press" class="section row">
		<div class="twelve columns">
			<h2>Press</h2>
			<div class="row">
				{% for post in press %}
					<div class="four columns thumbnail">
						{% include 'partial/tease-press.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="twelve columns">
			<br />
			<a class="btn" href="{{ fn( 'get_post_type_archive_link', post.post_type )}}" title="View all Artists">View all Artists</a>
		</div>
	</div>


{% endblock %}
