{% extends "base.twig" %}

{% block content %}	
	<div class="row">
		<div class="twelve columns">
			<div class="inner-page">
					<img src="{{ post.thumbnail.src|resize(1200, 300) }}">
					{{post.content}}
			</div>
		</div>
	</div>
{% endblock %}
