{% extends "base.twig" %}

{% block content %}
	<div class="row">
		<div class="twelve columns">
			<form class="password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post">
				<label for="pwbox-{{post.ID}}">Password:</label>
				<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
				<input class="password-btn" type="submit" name="Submit" value="Submit" />
			</form>
		</div>
	</div>
{% endblock %}
