{% extends "base.twig" %}

{% block header %}
	<div class="row">
		<div class="twelve columns">
			<h1 class="title">{{post.title}}</h1>
			<h2>
				<span>{{post.get_field('exhibition_title')}}</span><br>
						{{post.get_field('exhibition_dates')}}<br>
			</h2>
		</div>
	</div>
{% endblock %}

{% block content %}	
	<div class="row">
		<div class="twelve columns">

			<div id="SliderContainer" class="exhibition-img">
				<div class="slider">
					{% for image in post.get_field('exhibitions_views') %}
						<div class="slide">
							<img src="{{TimberImage(image.id).src|resize(800)}}" />
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>

	{% if post.content %}
		<div class="row">
			<div class="twelve columns">
				<div class="hentry">
					{{ post.content }}
				</div>
			</div>
		</div>
	{% endif %}
	
	{% set works = post.meta('featured_works') %}
	{% if works|length > 0 %}
		<div class="row press">
			
			<div class="columns twelve hentry">
				<h1 class="title">Featured Works</h1>	

				<div class="row">
					{% for product in works %}
						{% include 'partial/loop-works.twig' %}
					{% endfor %}
				</div>

			</div>
			
		</div>
	{% endif %}

	{% if press %}	
		<div class="row press">
			
			<div class="columns twelve hentry">
				<h1 class="title">Selected Press</h1>			
			</div>

			<div class="columns twelve">
				{% for rel in press %}
					<div class="four columns thumbnail">
						{% if rel.press_pdf %}
							<a href="{{rel.get_field('press_pdf').url}}" target="_blank">
						{% endif %}
							<figure>
								{% if rel.thumbnail %}
									<img src="{{rel.thumbnail.src|resize(480)}}" />
								{% endif %}
							</figure>
							<div class="info-press">
								<h3>{{rel.title}}</h3>
								<p class="date">{{rel.press_date}}</p>
								<p class="publication">{{rel.press_publication}}</p>
								{% if rel.press_pdf %}
									<p class="link">Download PDF</p>
								{% endif %}
							</div>
						{% if rel.press_pdf %}
							</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>			
		</div><!-- press -->
	{% endif %}

	<div class="row">
		<div class="twelve columns">
			<br />
			{% set postType = fn( 'get_post_type_object', post.post_type ) %}
			<a class="btn" href="{{ fn( 'get_post_type_archive_link', post.post_type )}}" title="View all Artists">View all {{postType.labels.name}}</a>
		</div>
	</div>

{% endblock %}
