{% extends "base.twig" %}

{% block content %}

	<div class="row thumbnails">
		{% if posts|length > 0 %}
			{% for post in posts %}
					<div class="one-third columns thumbnail">
						{% include ['partial/tease-exhibition.twig'] %}
					</div>
			{% endfor %}
		{% else %}
				<p>Coming soon. Subscribe at our newsletter to keep posted :)</p>
		{% endif %}
	</div>

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
