{% extends "base.twig" %}

{% block header %}
	<div class="row">
		<div class="twelve columns">
			<h1 class="collection-title">{{ parent.name | upper }}</h1>
		</div>
	</div>
{% endblock %}

{% block content %}	
	<div class="row">
		
			<ul class="advanced-filters">
				<li 
					class="advanced-filter {{ parent.slug == term.slug ? 'active-filter' }}"
					data-group="{{ parent.slug }}" 
					data-handle="{{ parent.slug }}"
					>
					<a href="{{parent.link}}" title="Click to filter artworks tagged as {{parent.name}}">All</a>
				</li>		
			{% if childrens|length > 0 %}
				{% for group in childrens %}
					<li 
						class="advanced-filter {{ group.slug == term.slug ? 'active-filter' }}" 
						data-group="{{ group.slug }}" 
						data-handle="{{ group.slug }}"
					>
						<a href="{{group.link}}" title="Click to filter artworks tagged as {{group.name}}">{{ group.name }}</a>
					</li>					
				{% endfor %}
			{% endif %}
			</ul>
	</div>

	<div class="row">
		{% if posts|length > 0 %}
			{% for product in posts %}
				{% include 'partial/loop-works.twig' %}
			{% endfor %}
		{% endif %}
	</div>

{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
