<section id="home-feature">
	<div class="flexslider">
		 <ul class="slides">
			{% for block in section.blocks %}
				{% if block.settings.slideshow != blank %}
					<li class="slide">
						<div class="bigbg" style="background-image:url('{{  block.settings.slideshow | img_url: 'master'  }}')"></div>
						<div id="caption" class="{% if block.settings.logo_color %}{{ block.settings.logo_color }}{% endif %}">
							<div class="container">
								{% if block.settings.title %}
									<p class="title">{{ block.settings.title }}</p>
									<p class="legende">{{ block.settings.caption }}</p>
								{% endif %}
								{% if block.settings.slide_link %}
									<p class="link">
										<a href="{{ block.settings.slide_link }}">View Work</a>
									</p>
								{% endif %}
							</div>
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section><!--/ .slider-->

<div class="nav-home">
	<div class="inner">
		<div class="links colored"></div>
		<div class="news colored">{% if settings.news_enabled %}{{ settings.custom_notes }}{% endif %}</div>
	</div>
</div>