{% set links = options.social_media %}
{% if links %}
  <ul>
    {% for link in links %}
      <li class="socialimg">
        <a 
          href="{{link.url}}"
          title="Twenty First Gallery on {{link.name}}"
          class="social_link"
          rel="nofollow"
          target="_blank">
          {{link.name}}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}  