{% set permalinkURL = post.link %}
{% set shareTitle = post.meta('artist_id') ~ ', ' ~ post.title %}
{% set shareImage = post.meta('images')[0].url %}

<div class="social-sharing" data-permalink="{{ permalinkURL }}">
	
  <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
    <span class="icon icon-facebook" aria-hidden="true"></span>
    <span class="share-title">Share</span>
  </a>

  <a target="_blank" href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}" class="share-twitter">
    <span class="icon icon-twitter" aria-hidden="true"></span>
    <span class="share-title">Tweet</span>
  </a>
	
  <a 
    target="_blank" 
    href="http://pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ shareImage }}&amp;description={{ shareTitle }}"
    class="share-pinterest">
    <span class="icon icon-pinterest" aria-hidden="true"></span>
    <span class="share-title">Pin it</span>
  </a>

</div>
