<form class="jotform-form" action="//submit.jotform.us/submit.php" method="post" name="form_22055087390149" id="22055087390149" accept-charset="utf-8">
	
  <input type="hidden" name="formID" value="22055087390149" />
	
  <div class="form-all">

		<ul class="form-section">

      <li class="form-line" id="id_5">
        <div id="cid_5" class="form-input">
          <span class="form-sub-label-container">
            <label class="form-sub-label" for="first_5" id="sublabel_first"> Name </label>
            <input class="form-textbox" type="text" size="25" name="q5_fullName5[first]" id="first_5" />
          </span>
        </div>
      </li>

      <li class="form-line" id="id_6">
        <div id="cid_6" class="form-input">
        <label class="form-label-left" id="label_6" for="input_6"> E-mail </label>
          <input type="email" class="form-textbox validate[Email]" id="input_6" name="q6_email6" size="25" />
        </div>
      </li>

      <li class="form-line" id="id_12">
        <div id="cid_12" class="form-input">
          <label class="form-label-left" id="label_12" for="input_12"> Company </label>
          <input type="text" class="form-textbox" id="input_12" name="q12_company" size="25" />
        </div>
      </li>

      <li class="form-line" id="id_11">
        <div id="cid_11" class="form-input">
          <label class="form-label-left" id="label_11" for="input_11">Message </label>
          <textarea id="input_11" class="form-textarea" name="q11_helpUs" cols="80" rows="30"></textarea>
        </div>
      </li>

			<li class="form-line" id="id_8">
				<div id="cid_8" class="form-input-wide">
					<div class="form-buttons-wrapper">
						<button id="input_8" type="submit" class="form-submit-button">
							Submit
						</button>
					</div>
				</div>
			</li>

			<li style="display:none">
        <div id="cid_13" class="form-input">
          <input type="text" class="form-textbox" id="input_13" name="q13_productName" size="20" value="{{ post.title }} by {{ fn('get_the_title', post.artist_id) }}"/>
        </div>
      </li>

      <li style="display:none">
        <div id="cid_10" class="form-input">
          <input type="text" class="form-textbox" id="input_10" name="q10_productUrl" size="20" value="{{ post.link }}"/>
        </div>
      </li>

		</ul>

	</div>

	<input type="hidden" id="simple_spc" name="simple_spc" value="22055087390149" />
	<script type="text/javascript">
	document.getElementById("si" + "mple" + "_spc").value = "22055087390149-22055087390149";
	</script>

</form>
