<div class="footer-wrap">

		<div class="container">

			 <div class="four columns sm-tablet">
					<h3>QUESTIONS?</h3>
						<ul>
								<li><a  rel="nofollow" href="mailto:info@21stgallery.com" target="_blank">Contact us via Email</a></li>
								<li>Call us at (212) 206-1967</li>
								<li>Monday - Friday 10am - 6pm</li>
								<li>Saturday 12pm - 6pm</li>
								{% if options.press_contact %}
									<li>Press contact - <a  rel="nofollow" href="mailto:{{ options.press_contact }}" target="_blank" title="Get in touch">{{ options.press_contact }}</a></li>					
								{% endif %}
				</div>
				<div class="four columns">
					<h3>Address</h3>
					<ul>
						<li>76 Franklin St<br>New York, New York 10013<br><a href="https://goo.gl/maps/gMpVLyhfCq42" target="_blank">MAP IT</a></li>
					</ul>					
				</div>
				 <div class="four columns sm-tablet last">
					<h3>Find us</h3>
					{% include 'partial/block-socialmedia.twig' %}						
				</div>

		</div>

		<div class="container bottom">

			<div class="seven columns left">
					<ul>
						<li>&copy; {{"now"|date('Y')}} - {{ site.name }}</li>
						<li>- Site by <a rel="nofollow" href="http://thomasbrodin.com" target="_blank">TB</a></li>
					</ul>
			</div>
			<div class="five columns right">

					<!-- Begin MailChimp Signup Form -->
					<form id="subscribe" action="//21st21st.us3.list-manage.com/subscribe/post?u=7d0163b6be6b7aff04c6460d2&amp;id=f2746afaa5" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input type="submit" value="Join our Mailing List:" name="subscribe" class="submit_button">
						<input type="email" value="" name="EMAIL" class="required email">
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_7d0163b6be6b7aff04c6460d2_f2746afaa5" value=""></div>
					</form>
					<!--End mc_embed_signup-->

			</div>
		 </div>

</div> <!-- end footer -->
