<div class="top_bar">
	<div class="container">

 		<div class="logo">
			<a href="{{site.url}}" title="Go to {{site.title}} home">
				{% include 'partial/logo.svg' %}
				{% include 'partial/logo-icon.svg' %}
			</a>
		</div>

		<div id="nav">

			<div class="main">
				<ul>
				{% for item in menu.items %}

					{% set active = 
						item.current or 
						item.current_item_parent or 
						item.current_item_ancestor or
						global_menu_active == item.title
						? true : false %}

					<li class="{{ active ? 'active '}}">
						<a target="{{ item.target }}" href="{{ item.link }}"  title="{{ item.title }}" >{{ item.title }}</a>

						{% if item.children %}
								<ul class="nav-drop">
									{% for child in item.children %}
										<li class="nav-drop-item">
												<a href="{{ child.link }}" title="{{ child.title }} {{ item.title }}">{{ child.title }}</a>
										</li>
									{% endfor %}
								</ul>
						{% endif %}

					</li>
				{% endfor %}
				</ul>
			</div>

			<div class="trigger-overlay">
					<i class="hamburger"></i>
			</div><!-- menu-button-->

			<div class="search-bar">
				<span class="menu-search" 
					data-fancybox
					data-options='{ "btnTpl" : { "close" : "oi" } }'
					data-src="#form-iframe"
				>
					{% include 'partial/search.svg' %}
				</span>
			</div>

		</div>

		<div id="form-iframe">
			<form class="search-form" action="/">
				<input type="text" name="s" class="search_box" value="" autofocus />
			</form>
		</div>

 	</div>
</div>
