<section id="home-feature">
	<div class="flexslider">
		 <ul class="slides">
      {% for slide in post.meta('slides') %}        
        <li class="slide">
          <div 
            class="bigbg" 
            style="background-image:url('{{  slide.image_background  }}')"></div>
          <div 
            id="caption"
            class="{{slide.text_color ? slide.text_color }}">
            <div class="container">
              {% if slide.heading %}
                <p class="title">{{ slide.heading }}</p>
              {% endif %}
              {% if slide.caption %}
                <p class="legende">{{ slide.caption }}</p>
              {% endif %}
              {% if slide.image_link %}
                <p class="link">
                  <a href="{{ slide.image_link }}">View Work</a>
                </p>
              {% endif %}
            </div>
          </div>
        </li>				
			{% endfor %}
		</ul>
	</div>
</section><!--/ .slider-->

<div class="nav-home">
	<div class="inner">
		<div class="links colored"></div>
		<div class="news colored"></div>
	</div>
</div>