<div class="shopify-section index-section">

  <div class="featured-columns">

    <div class="row">
        <div class="twelve columns">
          <h1 class="title">
            {{ post.exhibitions_section_title }}
          </h1>
        </div>
    </div>

    <div class="row">
      {% for item in post.meta('items') %}
        <div class="one-half columns thumbnail">										
          {% if item.left_link %}
            <a target="_blank" href="{{ item.left_link }}">
          {% endif %}
            <img src="{{ item.thumbnail.url }}" />
          {% if item.left_link %}
            </a>
          {% endif %}
          {# {% if section.settings.title1 != blank %} #}
            <h3>{{ item.left_heading }}</h3>
            <p>{{ item.left_caption   }}</p>
          {# {% endif %} #}
        </div>
      {% endfor %}																
    </div> <!-- .row -->

  </div> <!-- .featured-columns -->

</div> <!-- .shopify-section.index-section -->