{% set works = post.meta('works') %}
{% if works|length > 0 %}
  <div class="shopify-section index-section">

    <div class="featured-columns">
      <br />
      <div class="row">
          <div class="twelve columns">
            <h1 class="title">
              {{ post.works_section_title }}
            </h1>
          </div>
      </div>

      <div class="row">

        {% for product in works %}
          {% include 'partial/loop-works.twig' %}
        {% endfor %}

      </div> <!-- .row -->
      <div class="row"></div>

    </div> <!-- .featured-columns -->

  </div> <!-- .shopify-section.index-section -->
{% endif %}