<div class="shopify-section index-section">

  <div class="featured-columns">
    <br />
    <div class="row">
        <div class="twelve columns">
          <h1 class="title">
            {{ post.artists_section_title }}
          </h1>
        </div>
    </div>

    <div class="row">
      <ul class="collection-list">          
        {% for artist in artists %}
          <li>
            <a href="{{ fn('get_permalink', artist.id )}}" title="Browse about {{ artist.post_title }}">
              {{ artist.last_name ? artist.last_name ~ ' ' ~ artist.first_name  : artist.post_title }}
            </a>
          </li>
        {% endfor %}
      </ul>													
    </div> <!-- .row -->

  </div> <!-- .featured-columns -->

</div> <!-- .shopify-section.index-section -->