{% set image = Image(product.images[0]) %}
{# {{ fn( 'pp_debug', product.images, false ) }} #}
{# {{ fn( 'pp_debug', image, false ) }} #}
<div class="three columns thumbnail work">
    <a href="{{ product.link }}" title="{{ product.title }}">
      <img 
        src="{{ image.src|resize(560,560) }}" 
        alt="{{ fn('get_the_title', product.artist_id) ~ ' ' ~ product.title }}"
        title="{{ product.title ~ ' by ' ~ fn('get_the_title', product.artist_id) }}"
       />
    </a>
    <div class="info">
      <div class="vendor">
        {% if isArtist %}
          <span>{{ fn('get_the_title', product.artist_id)}}</span>
        {% else %}
          <a href="{{ fn('get_permalink', product.artist_id)}}">{{ fn('get_the_title', product.artist_id)}}</a>
        {% endif %}
      </div>
      <a href="{{ product.link }}" title="{{ product.title }}">
        <span class="title">{{ product.title }}</span>
      </a>
    </div>
</div>