
<!-- open/close -->
<div class="overlay">
	<button type="button" class="overlay-close">Close</button>
	<nav>
		<ul class="main">
			<li>
				<a href="/">{% include 'partial/logo.svg' %}</a>
			</li>
			{% for item in menu.items %}
				<li class="{% if item.current %}active{% endif %}">
					<a target="{{ item.target }}" href="{{ item.link }}">
						<h1>{{ item.title }}</h1>
					</a>
				</li>
			{% endfor %}

		</ul>
	</nav>
</div>
