{% if posts.pagination.pages is not empty %}
    <div class="pagination-block">
        <ul class="pagination">

            {% if pagination.prev %}
                <li class="prev btn">
                    <a href="{{ pagination.prev.link }}">Previous</a>
                </li>
            {% endif %}

            {% if pagination.next %}
                <li class="next btn">
                    <a href="{{ pagination.next.link }}">
                        Next
                    </a>
                </li>
            {% endif %}            
        </ul>
    </div>
{% endif %}
