<article class="tease exhibition" id="tease-{{post.ID}}">	

		{% if post.get_thumbnail %}
			<a href="{{post.link}}">
				<figure>
					<img src="{{post.thumbnail.src|resize(500)}}" />
				</figure>
			</a>		
		{% elseif post.post_type == 'work' %}
		{% set image = Image(post.images[0]) %}		
			<a href="{{post.link}}">
				<figure>
					<img src="{{image.src|resize(386,386)}}" />
				</figure>
			</a>
		{% endif %}

		<div class="info-expo">
			<a href="{{post.link}}">
				<h2>{{post.title}}</h2>
				<h4>
					<span>{{ post.post_type }}</span>				
				</h4>				
			</a>
		</div>

</article>
