{% extends "partial/tease.twig" %}

{% block content %}

		{% if post.get_thumbnail %}
			<a href="{{post.link}}">
				<figure>
					<img src="{{post.thumbnail.src|resize(500)}}" />
				</figure>
			</a>
		{% endif %}

		<div class="info-expo">
			<a href="{{post.link}}">
				<h2>{{post.title}}</h2>
				<h4>
					<span>{{post.get_field('exhibition_title')}}</span><br>
							{{post.get_field('exhibition_dates')}}<br>
				</h4>
			</a>
		</div>
{% endblock %}
