<article class="tease press" id="tease-{{post.ID}}">
	{% block content %}
			{% if post.press_pdf %}
				<a href="{{post.get_field('press_pdf').url}}" target="_blank" rel="nofollow">
			{% endif %}
				<figure>
					{% if post.thumbnail %}
						<img src="{{post.thumbnail.src|resize(480)}}" />
					{% endif %}
				</figure>
				<div class="info-press">
					<h3>{{post.title}}</h3>
					<p class="date">{{post.press_date}}</p>
					<p class="publication">{{post.press_publication}}</p>
					{% if post.press_pdf %}
						<p class="link">Download PDF</a></p>
					{% endif %}
				</div>
			{% if post.press_pdf %}
				</a>
			{% endif %}
	{% endblock %}
</article>